Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "HDFS 22"
COLLABORATORS = "Borja Lopez y Esteban Braganza"

---

# ![Spark Logo](http://spark-mooc.github.io/web-assets/images/ta_Spark-logo-small.png)

# Actividad BATCH

## Sistema de ficheros HDFS y extracción de conocimiento de fuentes de datos heterogéneas mediante RDDs

En esta práctica comenzaremos con una breve introducción a HDFS (Hadoop Distributed File System), para entender cómo se almacena y distribuye la información. Luego, nos meteremos de lleno con Spark RDDs y Spark SQL para procesar grandes volúmenes de datos de forma eficiente. Para finalizar, trabajaremos con datos relacionales y su manejo en entornos distribuidos.

### Puntuación de la actividad:
- **Ejercicio 1**: Gestión y análisis de datos en HDFS *(0.5 puntos)*
- **Ejercicio 2**: Manipulación de RDDs en PySpark *(1.25 puntos)*
- **Ejercicio 3**: Análisis de Datos de Tweets en PySpark *(1.25 puntos)*
- **Ejercicio 4**: Optimización de Cálculos con Persistencia *(0.25 puntos)*
- **Ejercicio 5**: Análisis de Tweets mediante DataFrames y consultas SQL *(2 puntos)*
- **Ejercicio 6**: Análisis de Tweets Geolocalizados *(1.5 puntos)*
- **Ejercicio 7**: Análisis del Patrón de Actividad Horaria en Twitter *(1 puntos)*
- **Ejercicio 8**: Análisis de la Relación entre Tweets y Diputados por Provincia *(0.75 puntos)*
- **Ejercicio 9**: Análisis de Interacciones de Retweets y Grados de Usuario *(0.75 puntos)*
- **Ejercicio 10**: Distribución del Grado de Salida en una Red de Retweets *(0.75 puntos)*

# **HDFS (Hadoop Distributed File System)**

<img src="https://hadoop.apache.org/docs/r1.2.1/images/hadoop-logo.jpg">

**HDFS (Hadoop Distributed File System)** es una parte esencial del ecosistema Big Data de Apache Hadoop. HDFS está diseñado para almacenar y gestionar grandes volúmenes de datos distribuidos en varios nodos de un cluster, proporcionando alta tolerancia a fallos y escalabilidad. En este primer ejercicio, vamos a interactuar con HDFS mediante la línea de comandos dentro del entorno de **JupyterLab**, lo que nos permitirá familiarizarnos con las operaciones básicas de este sistema de archivos distribuido.

Para comenzar, es necesario abrir un terminal desde **JupyterLab**. Una vez abierto, podemos enviar comandos al sistema de archivos HDFS, que son muy similares a los comandos de bash en entornos Linux. Algunos de los comandos de HDFS que ejecutaremos comenzarán con `hdfs dfs`, seguidos de la operación que deseemos realizar. Por ejemplo, si queremos listar los archivos y directorios en el directorio raíz de HDFS, usaremos el comando ls de la siguiente manera:

In [2]:
!hdfs dfs -ls /

Found 10 items
drwxr-xr-x   - asolerib   supergroup          0 2020-01-16 22:12 /CFCC
drwxrwxr-x   - egilbl     students            0 2024-11-11 19:10 /aula_B0.476
drwxr-xr-x   - asolerib   supergroup          0 2019-10-28 11:09 /aula_B2.585
drwxr-xr-x   - asolerib   supergroup          0 2019-09-25 22:10 /aula_M2.858
drwxr-xr-x   - hbase      hbase               0 2024-10-22 12:25 /hbase
drwxr-xr-x   - aperezgari supergroup          0 2021-08-05 12:58 /home
drwxr-xr-x   - joant      supergroup          0 2023-12-10 20:28 /path
drwxrwxr-x   - solr       solr                0 2019-07-23 15:49 /solr
drwxrwxrwt   - hdfs       supergroup          0 2024-10-20 10:04 /tmp
drwxrwxr-x   - hdfs       supergroup          0 2024-11-11 11:47 /user

Es importante que todos los comandos se ejecuten correctamente en el entorno **JupyterLab** para obtener los resultados deseados.

Para consultar la documentación completa de los comandos disponibles en HDFS, puedes acceder a la guía oficial en el siguiente enlace: [HDFS Command Guide](https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-hdfs/HDFSCommands.html)

A lo largo de este ejercicio, utilizaremos algunos de los comandos más comunes de HDFS para realizar operaciones como la creación de directorios, la carga y descarga de archivos, y la gestión de permisos, entre otros. A medida que avanzamos, te familiarizarás con la estructura de HDFS y cómo aprovechar sus funcionalidades en entornos Big Data.

### **Ejercicio 1**: Gestión y análisis de datos en HDFS (*0.5 puntos*)

En este ejercicio, trabajarás con un archivo de datos de ventas llamado `ventas_globales.txt`, almacenado en la siguiente ruta `/aula_M2.858/data/ventas_globales.txt`. Tu objetivo es realizar una serie de tareas de análisis, gestión y verificación de integridad de los datos. A continuación se detallan las tareas a realizar.

- Necesitas obtener información sobre el tamaño del archivo `ventas_globales.txt`, y también deberás realizar un análisis preliminar del contenido del archivo sin descargarlo completamente.

- A continuación, deberás descargar una copia del archivo `ventas_globales.txt` a tu sistema local. Es importante verificar que el archivo en HDFS no presenta problemas de integridad ni bloques corruptos. Asegúrate de comprobar el estado del archivo. Una vez has verificado que el archivo esta correcto y no presenta problemas de integridad, deberás volver a subirlo dentro de la carpeta `procesado` que tienes que crear en la ruta `/user/[tu_usuario]/`.

### File System Check


En el siguiente código podemos apreciar el tamaño el número de bloques y el estado general del archivo en este caso el archivo se encuentra saludable.

In [3]:
!hdfs fsck /aula_M2.858/data/ventas_globales.txt -files -blocks

Connecting to namenode via http://eimtcld.uoc.edu:9870/fsck?ugi=ebraganza&files=1&blocks=1&path=%2Faula_M2.858%2Fdata%2Fventas_globales.txt
FSCK started by ebraganza (auth:SIMPLE) from /213.73.35.119 for path /aula_M2.858/data/ventas_globales.txt at Mon Nov 11 19:44:07 CET 2024
/aula_M2.858/data/ventas_globales.txt 1330 bytes, replicated: replication=3, 1 block(s):  OK
0. BP-2074018746-213.73.35.119-1563889676427:blk_1224577900_150884530 len=1330 Live_repl=3


Status: HEALTHY
 Number of data-nodes:	3
 Number of racks:		1
 Total dirs:			0
 Total symlinks:		0

Replicated Blocks:
 Total size:	1330 B
 Total files:	1
 Total blocks (validated):	1 (avg. block size 1330 B)
 Minimally replicated blocks:	1 (100.0 %)
 Over-replicated blocks:	0 (0.0 %)
 Under-replicated blocks:	0 (0.0 %)
 Mis-replicated blocks:		0 (0.0 %)
 Default replication factor:	3
 Average block replication:	3.0
 Missing blocks:		0
 Corrupt blocks:		0
 Missing replicas:		0 (0.0 %)
 Blocks queued for replication:	0

Erasure Coded Block Groups:
 Total size:	0 B
 Total files:	0
 Total block groups (validated):	0
 Minimally erasure-coded block groups:	0
 Over-erasure-coded block groups:	0
 Under-erasure-coded block groups:	0
 Unsatisfactory placement block groups:	0
 Average block group size:	0.0
 Missing block groups:		0
 Corrupt block groups:		0
 Missing internal blocks:	0
 Blocks queued for replication:	0
FSCK ended at Mon Nov 11 19:44:07 CET 2024 in 1 milliseconds


The filesystem under path '/aula_M2.858/data/ventas_globales.txt' is HEALTHY

In [4]:
!hdfs dfs -ls /aula_M2.858/data/ventas_globales.txt

-rwxr-xr-x   3 mmartinmoreno supergroup       1330 2024-10-13 19:40 /aula_M2.858/data/ventas_globales.txt

### Inspección de los datos.

Observamos las 20 primeras filas del archivo que queremos analizar.

In [5]:
!hdfs dfs -cat /aula_M2.858/data/ventas_globales.txt | head -n 20

### Descarga de archivo

In [6]:
!hdfs dfs -get /aula_M2.858/data/ventas_globales.txt ventas_globales.txt

get: `ventas_globales.txt': File exists

In [7]:
!ls

Actividad_Batch_ES.ipynb  ventas_globales.txt

### Crear la carpeta

In [8]:
!hdfs dfs -mkdir /user/ebraganza/procesado

mkdir: `/user/ebraganza/procesado': File exists

In [9]:
!hdfs dfs -ls /user/ebraganza/

Found 1 items
drwxr-xr-x   - ebraganza ebraganza          0 2024-11-06 15:52 /user/ebraganza/procesado

### Resubir Archivo

In [10]:
!hdfs dfs -put ventas_globales.txt /user/ebraganza/procesado/

put: `/user/ebraganza/procesado/ventas_globales.txt': File exists

In [11]:
!hdfs dfs -ls /user/ebraganza/procesado/

Found 1 items
-rw-r--r--   3 ebraganza ebraganza       1330 2024-11-06 15:52 /user/ebraganza/procesado/ventas_globales.txt

In [12]:
!hdfs dfs -cat /user/ebraganza/procesado/ventas_globales.txt | head -n 20

# **Apache Spark RDDs (Resilient Distributed Datasets)**

En el marco del procesamiento de grandes volúmenes de datos con Apache Spark, los RDDs, o Resilient Distributed Datasets, juegan un papel fundamental. Un RDD es una colección de elementos que se distribuyen a través de un clúster de nodos y sobre la cual se pueden aplicar operaciones que se ejecutan en paralelo.

Recordemos sus características:

- Inmutabilidad: Una vez que se crea un RDD, no se puede modificar. En lugar de eso, cualquier operación que modifique los datos generará un nuevo RDD.

- Distribución: Los RDDs están repartidos entre los diferentes nodos del clúster, permitiendo un procesamiento paralelo eficiente.

- Tolerancia a Fallos: Los RDDs son resistentes a fallos. En caso de que un nodo falle, Spark puede reconstruir los datos perdidos a partir de los datos originales y las operaciones realizadas.

Esta estructura permite un procesamiento eficiente y escalable de datos, lo que es esencial para trabajar con grandes volúmenes de información en entornos de clúster.

A continuación se muestra el código que debéis ejecutar para configurar vuestro entorno de Spark.

> Como referencia a todos métodos que se requieren para implementar esta práctica podéis consultar:
> * [API Python de Spark](https://archive.apache.org/dist/spark/docs/2.4.0/api/python/index.html)

### Configuración del entorno python + spark

In [13]:
import findspark
findspark.init()

from pyspark import SparkConf, SparkContext

conf = SparkConf()
conf.setMaster("local[1]")

In [14]:
# Introducid el nombre de la app ActividadRDDs_ seguido de vuestro nombre de usuario
conf.setAppName("ActividadRDDs_usuario")
sc = SparkContext.getOrCreate(conf=conf)
sc.version

'2.4.0-cdh6.2.0'

### **Ejercicio 2**: Manipulación de RDDs en PySpark (*1.25 puntos*)

En este ejercicio, te proporcionamos dos listas de números en las que realizarás diversas operaciones sobre ellas utilizando RDDs en PySpark. La solución y el enfoque quedan a tu criterio.
Contexto:

Tienes dos conjuntos de números:
- Conjunto 1: Números del 1 al 20.
- Conjunto 2: Números del 10 al 30.

Descripción:

- Debes crear RDDs a partir de estos conjuntos de números.

- Tienes que transformar el primer RDD para asociar cada número con su cuadrado. Después, filtra los pares en los que el cuadrado es mayor a 50. A este RDD filtrado debes llamarlo `filtrados_rdd`.

- Agrupa los datos filtrados en función de si los números originales son pares o impares. Luego, calcula la suma de los cuadrados para cada grupo. A este RDD de la suma de los cuadrados, debes llamarlo `suma_cuadrados_rdd`.

- Realiza una unión e intersección entre los dos RDDs iniciales de los conjuntos de listas, deberás llamarlos `union_rdd` e `interseccion_rdd` respectivamente.

- Imprime los resultados de cada una de las operaciones realizadas utilizando el método collect().

In [15]:
# Conjuntos de números
c1 = list(range(1, 21))
c2 = list(range(10, 31))

In [16]:
# Paralelizar las listas anteriores.
conjunto1RDD = sc.parallelize(c1)
conjunto2RDD = sc.parallelize(c2)

print(conjunto1RDD.collect())
print(conjunto2RDD.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [17]:
# Mapeamos cada numero a su cuadrado y filtramos para los cuadrados > 50.
filtrados_RDD = conjunto1RDD.map(lambda x: (x, x**2)).filter(lambda x: x[1] > 50)
print(filtrados_RDD.collect())

[(8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)]

In [18]:
# Hacemos la suma de los cuadrados basados en si los numeros orignales son pares o impares.
suma_cuadrados_rdd = (
    filtrados_RDD
      .map(lambda x: ("Par" if x[0] % 2 == 0 else 'Impar', x[1]))
      .groupByKey()
      .mapValues(lambda values: sum(values))
)
print(suma_cuadrados_rdd.collect())

[('Par', 1484), ('Impar', 1246)]

In [19]:
# Otra opción utilizando la función ReduceByKeys
suma_cuadrados_rdd = (
    filtrados_RDD
    .map(lambda x: ("Par" if x[0] % 2 == 0 else 'Impar', x[1]))
    .reduceByKey(lambda x, y: x+y)
)
print(suma_cuadrados_rdd.collect())

[('Par', 1484), ('Impar', 1246)]

In [20]:
# Union de los dos conjuntos 
union_rdd = conjunto1RDD.union(conjunto2RDD)
print(union_rdd.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [21]:
# Interseccion de los dos conjuntos.
intersection_rdd = conjunto1RDD.intersection(conjunto2RDD)
print(intersection_rdd.collect())

[10, 12, 14, 16, 18, 20, 11, 13, 15, 17, 19]

In [22]:
# DO NOT USE THIS CELL

### **Ejercicio 3**: Análisis de Datos de Tweets en PySpark (*1.25 puntos*)

En este ejercicio, trabajarás con un archivo JSON llamado `tweets_sample.json` que se encuentra en la ruta `/aula_M2.858/data/tweets_sample.json`. Este archivo contiene datos de tweets y métricas relacionadas. Deberás utilizar PySpark para realizar un análisis de los datos. La estructura del archivo JSON incluye información como el número de retweets, likes, seguidores, y más. Sin embargo, para este ejercicio, te enfocarás en procesar y analizar el contenido textual de los tweets.

- Carga el archivo JSON en un RDD utilizando el método `textFile()`. Examina la estructura de los datos para identificar cómo extraer el contenido relevante.

- Extrae el campo tweets de cada uno de los tweets. Define y aplica una función para limpiar el texto. Esta función debe eliminar la puntuación, convertir el texto a minúsculas y asegurar que haya un solo espacio entre las palabras.

- Divide el texto en palabras y filtra las palabras para quedarte con aquellas que tengan más de 3 caracteres. Después, realiza un conteo de palabras distintas que debes llamarlo `palabras_distintas_rdd`.

- Por último, encuentra las 5 palabras más frecuentes que contienen la letra 'z', a este RDD debes llamarlo `top_palabras_con_z`.

- Imprime los resultados de cada una de las operaciones realizadas.

In [23]:
# Creamos el RDD basados en el archivo de texto.
tweets = sc.textFile('/aula_M2.858/data/tweets_sample.json')
print(tweets.take(20))

['{"tweet_id": 1, "user": "usuario1", "followers": 150, "retweets": 5, "likes": 10, "tweet": "¡Hola mundo! Este es un tweet de prueba para ver cómo funciona. #prueba #mundo"}', '{"tweet_id": 2, "user": "usuario2", "followers": 300, "retweets": 2, "likes": 7, "tweet": "Los datos son el nuevo petróleo. Analiza, visualiza y actúa. #data #análisis"}', '{"tweet_id": 3, "user": "usuario3", "followers": 500, "retweets": 15, "likes": 20, "tweet": "Un día productivo en la oficina. ¿Alguna vez has tenido un día así? #productividad"}', '{"tweet_id": 4, "user": "usuario4", "followers": 250, "retweets": 10, "likes": 5, "tweet": "¿Sabías que Python es uno de los lenguajes de programación más utilizados? #Python #programación"}', '{"tweet_id": 5, "user": "usuario5", "followers": 100, "retweets": 1, "likes": 3, "tweet": "La programación puede ser divertida y emocionante. ¡No te rindas! #programación"}', '{"tweet_id": 6, "user": "usuario6", "followers": 400, "retweets": 0, "likes": 2, "tweet": "Zorro: un animal ágil y rápido. #naturaleza #zorro"}', '{"tweet_id": 7, "user": "usuario7", "followers": 600, "retweets": 12, "likes": 22, "tweet": "La zona de confort es un lugar agradable, pero nada crece allí. #motivación"}', '{"tweet_id": 8, "user": "usuario8", "followers": 50, "retweets": 1, "likes": 1, "tweet": "Zambullirse en nuevas experiencias es crucial. ¡Atrévete a salir! #experiencias"}', '{"tweet_id": 9, "user": "usuario9", "followers": 350, "retweets": 7, "likes": 15, "tweet": "Zapatillas nuevas para correr. ¡Listo para la maratón! #fitness"}', '{"tweet_id": 10, "user": "usuario10", "followers": 80, "retweets": 3, "likes": 5, "tweet": "Disfrutando de un buen libro. Siempre es un placer. #lectura"}']

In [24]:
# Creamos la funcion de limpieza y la aplicamos a cada elemento del RDD
import json
import re

def parse_tweets(tweet):
    parsed_tweet = json.loads(tweet)
    message = parsed_tweet['tweet']
    message_clean = re.sub(r'[^\w\s]', '', message.lower()).strip()
    message_clean = re.sub(r'\s+', ' ', message_clean).strip()
    return message_clean

tweets = tweets.map(parse_tweets)

print(tweets.collect())

['hola mundo este es un tweet de prueba para ver cómo funciona prueba mundo', 'los datos son el nuevo petróleo analiza visualiza y actúa data análisis', 'un día productivo en la oficina alguna vez has tenido un día así productividad', 'sabías que python es uno de los lenguajes de programación más utilizados python programación', 'la programación puede ser divertida y emocionante no te rindas programación', 'zorro un animal ágil y rápido naturaleza zorro', 'la zona de confort es un lugar agradable pero nada crece allí motivación', 'zambullirse en nuevas experiencias es crucial atrévete a salir experiencias', 'zapatillas nuevas para correr listo para la maratón fitness', 'disfrutando de un buen libro siempre es un placer lectura']

In [25]:
# Conteo de palabras unicas en general 
palabras_unicas = (
    tweets
        .flatMap(lambda x: x.split(' '))
        .map(lambda palabra: (palabra, len(palabra)))
        .filter(lambda palabra: palabra[1] > 3)
        .keys()
        .distinct()
        .count()
           )

print("El numero de palabras unicas en le documento es {} ".format(palabras_unicas))

El numero de palabras unicas en le documento es 61

In [26]:
# Conteo de cada palabra
palabras_distintas_rdd = (
    tweets
    .flatMap(lambda x: x.split(' ')) # Separamos por palabras.
    .map(lambda palabra: (palabra, len(palabra))) # Creamos pares de clave-valor con la palabra y su n caracteres.
    .filter(lambda palabra: palabra[1] > 3) # Filtramos los que tienen mas de 3 caracteres.
    .keys() # Tomamos un RDD de keys solamente.
    .map(lambda palabra: (palabra, 1)) # Clave-valor de cada key con un 1.
    .reduceByKey(lambda x, y: x + y) # Agregamos por cada key lo que nos da el conteo de cada palabra.
)
print(palabras_distintas_rdd.collect())

[('maratón', 1), ('crucial', 1), ('prueba', 2), ('emocionante', 1), ('ágil', 1), ('zambullirse', 1), ('correr', 1), ('productivo', 1), ('alguna', 1), ('tenido', 1), ('análisis', 1), ('allí', 1), ('datos', 1), ('naturaleza', 1), ('experiencias', 2), ('funciona', 1), ('hola', 1), ('crece', 1), ('puede', 1), ('lectura', 1), ('divertida', 1), ('pero', 1), ('fitness', 1), ('rápido', 1), ('cómo', 1), ('siempre', 1), ('tweet', 1), ('actúa', 1), ('petróleo', 1), ('data', 1), ('listo', 1), ('programación', 4), ('salir', 1), ('para', 3), ('zona', 1), ('rindas', 1), ('disfrutando', 1), ('agradable', 1), ('mundo', 2), ('atrévete', 1), ('oficina', 1), ('visualiza', 1), ('animal', 1), ('utilizados', 1), ('este', 1), ('productividad', 1), ('libro', 1), ('nuevo', 1), ('python', 2), ('lugar', 1), ('sabías', 1), ('lenguajes', 1), ('motivación', 1), ('zapatillas', 1), ('nuevas', 2), ('placer', 1), ('confort', 1), ('nada', 1), ('zorro', 2), ('buen', 1), ('analiza', 1)]

In [27]:
top_palabras_con_z = (
    palabras_distintas_rdd
    .filter(lambda x: "z" in x[0]) # Filtramos palabras con z
    .sortBy(lambda x: x[1], ascending=False) # Obtenemos las mas 5 frecuentes ordenando por el valor.
)
print(top_palabras_con_z.take(5))

[('zorro', 2), ('zambullirse', 1), ('naturaleza', 1), ('zona', 1), ('visualiza', 1)]

In [28]:
# DO NOT USE THIS CELL

### **Ejercicio 4**: Optimización de Cálculos con Persistencia (*0.25 puntos*)

Para reducir los tiempos de ejecución en Spark, es fundamental utilizar la persistencia de un RDD mediante el método `persist()`. Esta técnica es particularmente útil cuando se realizan múltiples operaciones repetidas sobre un mismo RDD.

Cuando persistes un RDD, Spark almacena los datos en memoria (o en disco, dependiendo del nivel de persistencia, para ver mas sobre los niveles de persistencia ir a la web [Persistencia Spark](https://archive.apache.org/dist/spark/docs/2.4.0/rdd-programming-guide.html#rdd-persistence)) para evitar recomputaciones cada vez que se necesita realizar una acción sobre el RDD. Esto significa que cada nodo del clúster guarda en su memoria las particiones del RDD que ha procesado, permitiendo que las siguientes operaciones sobre el RDD sean mucho más rápidas.

**Medición de Rendimiento**

Para medir la mejora en los tiempos de ejecución, podemos utilizar la función mágica `%%time` en un entorno Jupyter Notebook, que permite observar:

- Wall clock time: Tiempo total real que lleva ejecutar una tarea, incluyendo la CPU, el tiempo de entrada/salida (I/O), y las posibles comunicaciones entre nodos en el clúster.

- CPU time: Tiempo efectivo en que la CPU está ocupada ejecutando la tarea, excluyendo otras latencias como la de entrada/salida.

En este ejercicio, se explorará el uso de la persistencia en RDDs (Resilient Distributed Datasets) utilizando PySpark. El objetivo es observar cómo la persistencia afecta al rendimiento de las operaciones de transformación y acción sobre los RDDs.

- Crea un RDD a partir de una lista de números que va del 1 al 10.000.

- Filtra el RDD para obtener solo los números mayores a 5.000 y almacena este resultado en un nuevo RDD.

- Aplica una transformación para duplicar los valores del RDD filtrado y guárdalo en un nuevo RDD.

In [29]:
# YOUR CODE HERE
rdd = sc.parallelize([n for n in range(1, 10001, 1)])
rdd_filtrado = rdd.filter(lambda x: x>5000).map(lambda x: (x, x*2))

- Utiliza el método collect() para recuperar y mostrar los números mayores a 5.000 y sus dobles, y mide el tiempo que tarda en ejecutarse esta operación utilizando la función mágica `%%time`.

In [30]:
%%time
rdd_filtrado.collect()

CPU times: user 16 ms, sys: 4 ms, total: 20 ms
Wall time: 130 ms

[(5001, 10002),
 (5002, 10004),
 (5003, 10006),
 (5004, 10008),
 (5005, 10010),
 (5006, 10012),
 (5007, 10014),
 (5008, 10016),
 (5009, 10018),
 (5010, 10020),
 (5011, 10022),
 (5012, 10024),
 (5013, 10026),
 (5014, 10028),
 (5015, 10030),
 (5016, 10032),
 (5017, 10034),
 (5018, 10036),
 (5019, 10038),
 (5020, 10040),
 (5021, 10042),
 (5022, 10044),
 (5023, 10046),
 (5024, 10048),
 (5025, 10050),
 (5026, 10052),
 (5027, 10054),
 (5028, 10056),
 (5029, 10058),
 (5030, 10060),
 (5031, 10062),
 (5032, 10064),
 (5033, 10066),
 (5034, 10068),
 (5035, 10070),
 (5036, 10072),
 (5037, 10074),
 (5038, 10076),
 (5039, 10078),
 (5040, 10080),
 (5041, 10082),
 (5042, 10084),
 (5043, 10086),
 (5044, 10088),
 (5045, 10090),
 (5046, 10092),
 (5047, 10094),
 (5048, 10096),
 (5049, 10098),
 (5050, 10100),
 (5051, 10102),
 (5052, 10104),
 (5053, 10106),
 (5054, 10108),
 (5055, 10110),
 (5056, 10112),
 (5057, 10114),
 (5058, 10116),
 (5059, 10118),
 (5060, 10120),
 (5061, 10122),
 (5062, 10124),
 (5063, 10126),
 (5064, 10128),
 (5065, 10130),
 (5066, 10132),
 (5067, 10134),
 (5068, 10136),
 (5069, 10138),
 (5070, 10140),
 (5071, 10142),
 (5072, 10144),
 (5073, 10146),
 (5074, 10148),
 (5075, 10150),
 (5076, 10152),
 (5077, 10154),
 (5078, 10156),
 (5079, 10158),
 (5080, 10160),
 (5081, 10162),
 (5082, 10164),
 (5083, 10166),
 (5084, 10168),
 (5085, 10170),
 (5086, 10172),
 (5087, 10174),
 (5088, 10176),
 (5089, 10178),
 (5090, 10180),
 (5091, 10182),
 (5092, 10184),
 (5093, 10186),
 (5094, 10188),
 (5095, 10190),
 (5096, 10192),
 (5097, 10194),
 (5098, 10196),
 (5099, 10198),
 (5100, 10200),
 (5101, 10202),
 (5102, 10204),
 (5103, 10206),
 (5104, 10208),
 (5105, 10210),
 (5106, 10212),
 (5107, 10214),
 (5108, 10216),
 (5109, 10218),
 (5110, 10220),
 (5111, 10222),
 (5112, 10224),
 (5113, 10226),
 (5114, 10228),
 (5115, 10230),
 (5116, 10232),
 (5117, 10234),
 (5118, 10236),
 (5119, 10238),
 (5120, 10240),
 (5121, 10242),
 (5122, 10244),
 (5123, 10246),
 (5124, 10248),
 (5125, 10250),
 (5126, 10252),
 (5127, 10254),
 (5128, 10256),
 (5129, 10258),
 (5130, 10260),
 (5131, 10262),
 (5132, 10264),
 (5133, 10266),
 (5134, 10268),
 (5135, 10270),
 (5136, 10272),
 (5137, 10274),
 (5138, 10276),
 (5139, 10278),
 (5140, 10280),
 (5141, 10282),
 (5142, 10284),
 (5143, 10286),
 (5144, 10288),
 (5145, 10290),
 (5146, 10292),
 (5147, 10294),
 (5148, 10296),
 (5149, 10298),
 (5150, 10300),
 (5151, 10302),
 (5152, 10304),
 (5153, 10306),
 (5154, 10308),
 (5155, 10310),
 (5156, 10312),
 (5157, 10314),
 (5158, 10316),
 (5159, 10318),
 (5160, 10320),
 (5161, 10322),
 (5162, 10324),
 (5163, 10326),
 (5164, 10328),
 (5165, 10330),
 (5166, 10332),
 (5167, 10334),
 (5168, 10336),
 (5169, 10338),
 (5170, 10340),
 (5171, 10342),
 (5172, 10344),
 (5173, 10346),
 (5174, 10348),
 (5175, 10350),
 (5176, 10352),
 (5177, 10354),
 (5178, 10356),
 (5179, 10358),
 (5180, 10360),
 (5181, 10362),
 (5182, 10364),
 (5183, 10366),
 (5184, 10368),
 (5185, 10370),
 (5186, 10372),
 (5187, 10374),
 (5188, 10376),
 (5189, 10378),
 (5190, 10380),
 (5191, 10382),
 (5192, 10384),
 (5193, 10386),
 (5194, 10388),
 (5195, 10390),
 (5196, 10392),
 (5197, 10394),
 (5198, 10396),
 (5199, 10398),
 (5200, 10400),
 (5201, 10402),
 (5202, 10404),
 (5203, 10406),
 (5204, 10408),
 (5205, 10410),
 (5206, 10412),
 (5207, 10414),
 (5208, 10416),
 (5209, 10418),
 (5210, 10420),
 (5211, 10422),
 (5212, 10424),
 (5213, 10426),
 (5214, 10428),
 (5215, 10430),
 (5216, 10432),
 (5217, 10434),
 (5218, 10436),
 (5219, 10438),
 (5220, 10440),
 (5221, 10442),
 (5222, 10444),
 (5223, 10446),
 (5224, 10448),
 (5225, 10450),
 (5226, 10452),
 (5227, 10454),
 (5228, 10456),
 (5229, 10458),
 (5230, 10460),
 (5231, 10462),
 (5232, 10464),
 (5233, 10466),
 (5234, 10468),
 (5235, 10470),
 (5236, 10472),
 (5237, 10474),
 (5238, 10476),
 (5239, 10478),
 (5240, 10480),
 (5241, 10482),
 (5242, 10484),
 (5243, 10486),
 (5244, 10488),
 (5245, 10490),
 (5246, 10492),
 (5247, 10494),
 (5248, 10496),
 (5249, 10498),
 (5250, 10500),
 (5251, 10502),
 (5252, 10504),
 (5253, 10506),
 (5254, 10508),
 (5255, 10510),
 (5256, 10512),
 (5257, 10514),
 (5258, 10516),
 (5259, 10518),
 (5260, 10520),
 (5261, 10522),
 (5262, 10524),
 (5263, 10526),
 (5264, 10528),
 (5265, 10530),
 (5266, 10532),
 (5267, 10534),
 (5268, 10536),
 (5269, 10538),
 (5270, 10540),
 (5271, 10542),
 (5272, 10544),
 (5273, 10546),
 (5274, 10548),
 (5275, 10550),
 (5276, 10552),
 (5277, 10554),
 (5278, 10556),
 (5279, 10558),
 (5280, 10560),
 (5281, 10562),
 (5282, 10564),
 (5283, 10566),
 (5284, 10568),
 (5285, 10570),
 (5286, 10572),
 (5287, 10574),
 (5288, 10576),
 (5289, 10578),
 (5290, 10580),
 (5291, 10582),
 (5292, 10584),
 (5293, 10586),
 (5294, 10588),
 (5295, 10590),
 (5296, 10592),
 (5297, 10594),
 (5298, 10596),
 (5299, 10598),
 (5300, 10600),
 (5301, 10602),
 (5302, 10604),
 (5303, 10606),
 (5304, 10608),
 (5305, 10610),
 (5306, 10612),
 (5307, 10614),
 (5308, 10616),
 (5309, 10618),
 (5310, 10620),
 (5311, 10622),
 (5312, 10624),
 (5313, 10626),
 (5314, 10628),
 (5315, 10630),
 (5316, 10632),
 (5317, 10634),
 (5318, 10636),
 (5319, 10638),
 (5320, 10640),
 (5321, 10642),
 (5322, 10644),
 (5323, 10646),
 (5324, 10648),
 (5325, 10650),
 (5326, 10652),
 (5327, 10654),
 (5328, 10656),
 (5329, 10658),
 (5330, 10660),
 (5331, 10662),
 (5332, 10664),
 (5333, 10666),
 (5334, 10668),
 (5335, 10670),
 (5336, 10672),
 (5337, 10674),
 (5338, 10676),
 (5339, 10678),
 (5340, 10680),
 (5341, 10682),
 (5342, 10684),
 (5343, 10686),
 (5344, 10688),
 (5345, 10690),
 (5346, 10692),
 (5347, 10694),
 (5348, 10696),
 (5349, 10698),
 (5350, 10700),
 (5351, 10702),
 (5352, 10704),
 (5353, 10706),
 (5354, 10708),
 (5355, 10710),
 (5356, 10712),
 (5357, 10714),
 (5358, 10716),
 (5359, 10718),
 (5360, 10720),
 (5361, 10722),
 (5362, 10724),
 (5363, 10726),
 (5364, 10728),
 (5365, 10730),
 (5366, 10732),
 (5367, 10734),
 (5368, 10736),
 (5369, 10738),
 (5370, 10740),
 (5371, 10742),
 (5372, 10744),
 (5373, 10746),
 (5374, 10748),
 (5375, 10750),
 (5376, 10752),
 (5377, 10754),
 (5378, 10756),
 (5379, 10758),
 (5380, 10760),
 (5381, 10762),
 (5382, 10764),
 (5383, 10766),
 (5384, 10768),
 (5385, 10770),
 (5386, 10772),
 (5387, 10774),
 (5388, 10776),
 (5389, 10778),
 (5390, 10780),
 (5391, 10782),
 (5392, 10784),
 (5393, 10786),
 (5394, 10788),
 (5395, 10790),
 (5396, 10792),
 (5397, 10794),
 (5398, 10796),
 (5399, 10798),
 (5400, 10800),
 (5401, 10802),
 (5402, 10804),
 (5403, 10806),
 (5404, 10808),
 (5405, 10810),
 (5406, 10812),
 (5407, 10814),
 (5408, 10816),
 (5409, 10818),
 (5410, 10820),
 (5411, 10822),
 (5412, 10824),
 (5413, 10826),
 (5414, 10828),
 (5415, 10830),
 (5416, 10832),
 (5417, 10834),
 (5418, 10836),
 (5419, 10838),
 (5420, 10840),
 (5421, 10842),
 (5422, 10844),
 (5423, 10846),
 (5424, 10848),
 (5425, 10850),
 (5426, 10852),
 (5427, 10854),
 (5428, 10856),
 (5429, 10858),
 (5430, 10860),
 (5431, 10862),
 (5432, 10864),
 (5433, 10866),
 (5434, 10868),
 (5435, 10870),
 (5436, 10872),
 (5437, 10874),
 (5438, 10876),
 (5439, 10878),
 (5440, 10880),
 (5441, 10882),
 (5442, 10884),
 (5443, 10886),
 (5444, 10888),
 (5445, 10890),
 (5446, 10892),
 (5447, 10894),
 (5448, 10896),
 (5449, 10898),
 (5450, 10900),
 (5451, 10902),
 (5452, 10904),
 (5453, 10906),
 (5454, 10908),
 (5455, 10910),
 (5456, 10912),
 (5457, 10914),
 (5458, 10916),
 (5459, 10918),
 (5460, 10920),
 (5461, 10922),
 (5462, 10924),
 (5463, 10926),
 (5464, 10928),
 (5465, 10930),
 (5466, 10932),
 (5467, 10934),
 (5468, 10936),
 (5469, 10938),
 (5470, 10940),
 (5471, 10942),
 (5472, 10944),
 (5473, 10946),
 (5474, 10948),
 (5475, 10950),
 (5476, 10952),
 (5477, 10954),
 (5478, 10956),
 (5479, 10958),
 (5480, 10960),
 (5481, 10962),
 (5482, 10964),
 (5483, 10966),
 (5484, 10968),
 (5485, 10970),
 (5486, 10972),
 (5487, 10974),
 (5488, 10976),
 (5489, 10978),
 (5490, 10980),
 (5491, 10982),
 (5492, 10984),
 (5493, 10986),
 (5494, 10988),
 (5495, 10990),
 (5496, 10992),
 (5497, 10994),
 (5498, 10996),
 (5499, 10998),
 (5500, 11000),
 (5501, 11002),
 (5502, 11004),
 (5503, 11006),
 (5504, 11008),
 (5505, 11010),
 (5506, 11012),
 (5507, 11014),
 (5508, 11016),
 (5509, 11018),
 (5510, 11020),
 (5511, 11022),
 (5512, 11024),
 (5513, 11026),
 (5514, 11028),
 (5515, 11030),
 (5516, 11032),
 (5517, 11034),
 (5518, 11036),
 (5519, 11038),
 (5520, 11040),
 (5521, 11042),
 (5522, 11044),
 (5523, 11046),
 (5524, 11048),
 (5525, 11050),
 (5526, 11052),
 (5527, 11054),
 (5528, 11056),
 (5529, 11058),
 (5530, 11060),
 (5531, 11062),
 (5532, 11064),
 (5533, 11066),
 (5534, 11068),
 (5535, 11070),
 (5536, 11072),
 (5537, 11074),
 (5538, 11076),
 (5539, 11078),
 (5540, 11080),
 (5541, 11082),
 (5542, 11084),
 (5543, 11086),
 (5544, 11088),
 (5545, 11090),
 (5546, 11092),
 (5547, 11094),
 (5548, 11096),
 (5549, 11098),
 (5550, 11100),
 (5551, 11102),
 (5552, 11104),
 (5553, 11106),
 (5554, 11108),
 (5555, 11110),
 (5556, 11112),
 (5557, 11114),
 (5558, 11116),
 (5559, 11118),
 (5560, 11120),
 (5561, 11122),
 (5562, 11124),
 (5563, 11126),
 (5564, 11128),
 (5565, 11130),
 (5566, 11132),
 (5567, 11134),
 (5568, 11136),
 (5569, 11138),
 (5570, 11140),
 (5571, 11142),
 (5572, 11144),
 (5573, 11146),
 (5574, 11148),
 (5575, 11150),
 (5576, 11152),
 (5577, 11154),
 (5578, 11156),
 (5579, 11158),
 (5580, 11160),
 (5581, 11162),
 (5582, 11164),
 (5583, 11166),
 (5584, 11168),
 (5585, 11170),
 (5586, 11172),
 (5587, 11174),
 (5588, 11176),
 (5589, 11178),
 (5590, 11180),
 (5591, 11182),
 (5592, 11184),
 (5593, 11186),
 (5594, 11188),
 (5595, 11190),
 (5596, 11192),
 (5597, 11194),
 (5598, 11196),
 (5599, 11198),
 (5600, 11200),
 (5601, 11202),
 (5602, 11204),
 (5603, 11206),
 (5604, 11208),
 (5605, 11210),
 (5606, 11212),
 (5607, 11214),
 (5608, 11216),
 (5609, 11218),
 (5610, 11220),
 (5611, 11222),
 (5612, 11224),
 (5613, 11226),
 (5614, 11228),
 (5615, 11230),
 (5616, 11232),
 (5617, 11234),
 (5618, 11236),
 (5619, 11238),
 (5620, 11240),
 (5621, 11242),
 (5622, 11244),
 (5623, 11246),
 (5624, 11248),
 (5625, 11250),
 (5626, 11252),
 (5627, 11254),
 (5628, 11256),
 (5629, 11258),
 (5630, 11260),
 (5631, 11262),
 (5632, 11264),
 (5633, 11266),
 (5634, 11268),
 (5635, 11270),
 (5636, 11272),
 (5637, 11274),
 (5638, 11276),
 (5639, 11278),
 (5640, 11280),
 (5641, 11282),
 (5642, 11284),
 (5643, 11286),
 (5644, 11288),
 (5645, 11290),
 (5646, 11292),
 (5647, 11294),
 (5648, 11296),
 (5649, 11298),
 (5650, 11300),
 (5651, 11302),
 (5652, 11304),
 (5653, 11306),
 (5654, 11308),
 (5655, 11310),
 (5656, 11312),
 (5657, 11314),
 (5658, 11316),
 (5659, 11318),
 (5660, 11320),
 (5661, 11322),
 (5662, 11324),
 (5663, 11326),
 (5664, 11328),
 (5665, 11330),
 (5666, 11332),
 (5667, 11334),
 (5668, 11336),
 (5669, 11338),
 (5670, 11340),
 (5671, 11342),
 (5672, 11344),
 (5673, 11346),
 (5674, 11348),
 (5675, 11350),
 (5676, 11352),
 (5677, 11354),
 (5678, 11356),
 (5679, 11358),
 (5680, 11360),
 (5681, 11362),
 (5682, 11364),
 (5683, 11366),
 (5684, 11368),
 (5685, 11370),
 (5686, 11372),
 (5687, 11374),
 (5688, 11376),
 (5689, 11378),
 (5690, 11380),
 (5691, 11382),
 (5692, 11384),
 (5693, 11386),
 (5694, 11388),
 (5695, 11390),
 (5696, 11392),
 (5697, 11394),
 (5698, 11396),
 (5699, 11398),
 (5700, 11400),
 (5701, 11402),
 (5702, 11404),
 (5703, 11406),
 (5704, 11408),
 (5705, 11410),
 (5706, 11412),
 (5707, 11414),
 (5708, 11416),
 (5709, 11418),
 (5710, 11420),
 (5711, 11422),
 (5712, 11424),
 (5713, 11426),
 (5714, 11428),
 (5715, 11430),
 (5716, 11432),
 (5717, 11434),
 (5718, 11436),
 (5719, 11438),
 (5720, 11440),
 (5721, 11442),
 (5722, 11444),
 (5723, 11446),
 (5724, 11448),
 (5725, 11450),
 (5726, 11452),
 (5727, 11454),
 (5728, 11456),
 (5729, 11458),
 (5730, 11460),
 (5731, 11462),
 (5732, 11464),
 (5733, 11466),
 (5734, 11468),
 (5735, 11470),
 (5736, 11472),
 (5737, 11474),
 (5738, 11476),
 (5739, 11478),
 (5740, 11480),
 (5741, 11482),
 (5742, 11484),
 (5743, 11486),
 (5744, 11488),
 (5745, 11490),
 (5746, 11492),
 (5747, 11494),
 (5748, 11496),
 (5749, 11498),
 (5750, 11500),
 (5751, 11502),
 (5752, 11504),
 (5753, 11506),
 (5754, 11508),
 (5755, 11510),
 (5756, 11512),
 (5757, 11514),
 (5758, 11516),
 (5759, 11518),
 (5760, 11520),
 (5761, 11522),
 (5762, 11524),
 (5763, 11526),
 (5764, 11528),
 (5765, 11530),
 (5766, 11532),
 (5767, 11534),
 (5768, 11536),
 (5769, 11538),
 (5770, 11540),
 (5771, 11542),
 (5772, 11544),
 (5773, 11546),
 (5774, 11548),
 (5775, 11550),
 (5776, 11552),
 (5777, 11554),
 (5778, 11556),
 (5779, 11558),
 (5780, 11560),
 (5781, 11562),
 (5782, 11564),
 (5783, 11566),
 (5784, 11568),
 (5785, 11570),
 (5786, 11572),
 (5787, 11574),
 (5788, 11576),
 (5789, 11578),
 (5790, 11580),
 (5791, 11582),
 (5792, 11584),
 (5793, 11586),
 (5794, 11588),
 (5795, 11590),
 (5796, 11592),
 (5797, 11594),
 (5798, 11596),
 (5799, 11598),
 (5800, 11600),
 (5801, 11602),
 (5802, 11604),
 (5803, 11606),
 (5804, 11608),
 (5805, 11610),
 (5806, 11612),
 (5807, 11614),
 (5808, 11616),
 (5809, 11618),
 (5810, 11620),
 (5811, 11622),
 (5812, 11624),
 (5813, 11626),
 (5814, 11628),
 (5815, 11630),
 (5816, 11632),
 (5817, 11634),
 (5818, 11636),
 (5819, 11638),
 (5820, 11640),
 (5821, 11642),
 (5822, 11644),
 (5823, 11646),
 (5824, 11648),
 (5825, 11650),
 (5826, 11652),
 (5827, 11654),
 (5828, 11656),
 (5829, 11658),
 (5830, 11660),
 (5831, 11662),
 (5832, 11664),
 (5833, 11666),
 (5834, 11668),
 (5835, 11670),
 (5836, 11672),
 (5837, 11674),
 (5838, 11676),
 (5839, 11678),
 (5840, 11680),
 (5841, 11682),
 (5842, 11684),
 (5843, 11686),
 (5844, 11688),
 (5845, 11690),
 (5846, 11692),
 (5847, 11694),
 (5848, 11696),
 (5849, 11698),
 (5850, 11700),
 (5851, 11702),
 (5852, 11704),
 (5853, 11706),
 (5854, 11708),
 (5855, 11710),
 (5856, 11712),
 (5857, 11714),
 (5858, 11716),
 (5859, 11718),
 (5860, 11720),
 (5861, 11722),
 (5862, 11724),
 (5863, 11726),
 (5864, 11728),
 (5865, 11730),
 (5866, 11732),
 (5867, 11734),
 (5868, 11736),
 (5869, 11738),
 (5870, 11740),
 (5871, 11742),
 (5872, 11744),
 (5873, 11746),
 (5874, 11748),
 (5875, 11750),
 (5876, 11752),
 (5877, 11754),
 (5878, 11756),
 (5879, 11758),
 (5880, 11760),
 (5881, 11762),
 (5882, 11764),
 (5883, 11766),
 (5884, 11768),
 (5885, 11770),
 (5886, 11772),
 (5887, 11774),
 (5888, 11776),
 (5889, 11778),
 (5890, 11780),
 (5891, 11782),
 (5892, 11784),
 (5893, 11786),
 (5894, 11788),
 (5895, 11790),
 (5896, 11792),
 (5897, 11794),
 (5898, 11796),
 (5899, 11798),
 (5900, 11800),
 (5901, 11802),
 (5902, 11804),
 (5903, 11806),
 (5904, 11808),
 (5905, 11810),
 (5906, 11812),
 (5907, 11814),
 (5908, 11816),
 (5909, 11818),
 (5910, 11820),
 (5911, 11822),
 (5912, 11824),
 (5913, 11826),
 (5914, 11828),
 (5915, 11830),
 (5916, 11832),
 (5917, 11834),
 (5918, 11836),
 (5919, 11838),
 (5920, 11840),
 (5921, 11842),
 (5922, 11844),
 (5923, 11846),
 (5924, 11848),
 (5925, 11850),
 (5926, 11852),
 (5927, 11854),
 (5928, 11856),
 (5929, 11858),
 (5930, 11860),
 (5931, 11862),
 (5932, 11864),
 (5933, 11866),
 (5934, 11868),
 (5935, 11870),
 (5936, 11872),
 (5937, 11874),
 (5938, 11876),
 (5939, 11878),
 (5940, 11880),
 (5941, 11882),
 (5942, 11884),
 (5943, 11886),
 (5944, 11888),
 (5945, 11890),
 (5946, 11892),
 (5947, 11894),
 (5948, 11896),
 (5949, 11898),
 (5950, 11900),
 (5951, 11902),
 (5952, 11904),
 (5953, 11906),
 (5954, 11908),
 (5955, 11910),
 (5956, 11912),
 (5957, 11914),
 (5958, 11916),
 (5959, 11918),
 (5960, 11920),
 (5961, 11922),
 (5962, 11924),
 (5963, 11926),
 (5964, 11928),
 (5965, 11930),
 (5966, 11932),
 (5967, 11934),
 (5968, 11936),
 (5969, 11938),
 (5970, 11940),
 (5971, 11942),
 (5972, 11944),
 (5973, 11946),
 (5974, 11948),
 (5975, 11950),
 (5976, 11952),
 (5977, 11954),
 (5978, 11956),
 (5979, 11958),
 (5980, 11960),
 (5981, 11962),
 (5982, 11964),
 (5983, 11966),
 (5984, 11968),
 (5985, 11970),
 (5986, 11972),
 (5987, 11974),
 (5988, 11976),
 (5989, 11978),
 (5990, 11980),
 (5991, 11982),
 (5992, 11984),
 (5993, 11986),
 (5994, 11988),
 (5995, 11990),
 (5996, 11992),
 (5997, 11994),
 (5998, 11996),
 (5999, 11998),
 (6000, 12000),
 ...]

- Aplica la persistencia sobre el RDD de números mayores a 5.000 para que su contenido se mantenga en memoria entre las operaciones.

In [31]:
# YOUR CODE HERE
rdd_filtrado.persist()

PythonRDD[40] at collect at <timed eval>:1

- Vuelve a ejecutar el método collect() como antes. Compara este tiempo con el tiempo de la primera ejecución. (Puedes ejecutarlo varias veces y ver que ocurre con el tiempo de procesamiento.)

In [32]:
%%time
rdd_filtrado.collect()

CPU times: user 4 ms, sys: 4 ms, total: 8 ms
Wall time: 133 ms

[(5001, 10002),
 (5002, 10004),
 (5003, 10006),
 (5004, 10008),
 (5005, 10010),
 (5006, 10012),
 (5007, 10014),
 (5008, 10016),
 (5009, 10018),
 (5010, 10020),
 (5011, 10022),
 (5012, 10024),
 (5013, 10026),
 (5014, 10028),
 (5015, 10030),
 (5016, 10032),
 (5017, 10034),
 (5018, 10036),
 (5019, 10038),
 (5020, 10040),
 (5021, 10042),
 (5022, 10044),
 (5023, 10046),
 (5024, 10048),
 (5025, 10050),
 (5026, 10052),
 (5027, 10054),
 (5028, 10056),
 (5029, 10058),
 (5030, 10060),
 (5031, 10062),
 (5032, 10064),
 (5033, 10066),
 (5034, 10068),
 (5035, 10070),
 (5036, 10072),
 (5037, 10074),
 (5038, 10076),
 (5039, 10078),
 (5040, 10080),
 (5041, 10082),
 (5042, 10084),
 (5043, 10086),
 (5044, 10088),
 (5045, 10090),
 (5046, 10092),
 (5047, 10094),
 (5048, 10096),
 (5049, 10098),
 (5050, 10100),
 (5051, 10102),
 (5052, 10104),
 (5053, 10106),
 (5054, 10108),
 (5055, 10110),
 (5056, 10112),
 (5057, 10114),
 (5058, 10116),
 (5059, 10118),
 (5060, 10120),
 (5061, 10122),
 (5062, 10124),
 (5063, 10126),
 (5064, 10128),
 (5065, 10130),
 (5066, 10132),
 (5067, 10134),
 (5068, 10136),
 (5069, 10138),
 (5070, 10140),
 (5071, 10142),
 (5072, 10144),
 (5073, 10146),
 (5074, 10148),
 (5075, 10150),
 (5076, 10152),
 (5077, 10154),
 (5078, 10156),
 (5079, 10158),
 (5080, 10160),
 (5081, 10162),
 (5082, 10164),
 (5083, 10166),
 (5084, 10168),
 (5085, 10170),
 (5086, 10172),
 (5087, 10174),
 (5088, 10176),
 (5089, 10178),
 (5090, 10180),
 (5091, 10182),
 (5092, 10184),
 (5093, 10186),
 (5094, 10188),
 (5095, 10190),
 (5096, 10192),
 (5097, 10194),
 (5098, 10196),
 (5099, 10198),
 (5100, 10200),
 (5101, 10202),
 (5102, 10204),
 (5103, 10206),
 (5104, 10208),
 (5105, 10210),
 (5106, 10212),
 (5107, 10214),
 (5108, 10216),
 (5109, 10218),
 (5110, 10220),
 (5111, 10222),
 (5112, 10224),
 (5113, 10226),
 (5114, 10228),
 (5115, 10230),
 (5116, 10232),
 (5117, 10234),
 (5118, 10236),
 (5119, 10238),
 (5120, 10240),
 (5121, 10242),
 (5122, 10244),
 (5123, 10246),
 (5124, 10248),
 (5125, 10250),
 (5126, 10252),
 (5127, 10254),
 (5128, 10256),
 (5129, 10258),
 (5130, 10260),
 (5131, 10262),
 (5132, 10264),
 (5133, 10266),
 (5134, 10268),
 (5135, 10270),
 (5136, 10272),
 (5137, 10274),
 (5138, 10276),
 (5139, 10278),
 (5140, 10280),
 (5141, 10282),
 (5142, 10284),
 (5143, 10286),
 (5144, 10288),
 (5145, 10290),
 (5146, 10292),
 (5147, 10294),
 (5148, 10296),
 (5149, 10298),
 (5150, 10300),
 (5151, 10302),
 (5152, 10304),
 (5153, 10306),
 (5154, 10308),
 (5155, 10310),
 (5156, 10312),
 (5157, 10314),
 (5158, 10316),
 (5159, 10318),
 (5160, 10320),
 (5161, 10322),
 (5162, 10324),
 (5163, 10326),
 (5164, 10328),
 (5165, 10330),
 (5166, 10332),
 (5167, 10334),
 (5168, 10336),
 (5169, 10338),
 (5170, 10340),
 (5171, 10342),
 (5172, 10344),
 (5173, 10346),
 (5174, 10348),
 (5175, 10350),
 (5176, 10352),
 (5177, 10354),
 (5178, 10356),
 (5179, 10358),
 (5180, 10360),
 (5181, 10362),
 (5182, 10364),
 (5183, 10366),
 (5184, 10368),
 (5185, 10370),
 (5186, 10372),
 (5187, 10374),
 (5188, 10376),
 (5189, 10378),
 (5190, 10380),
 (5191, 10382),
 (5192, 10384),
 (5193, 10386),
 (5194, 10388),
 (5195, 10390),
 (5196, 10392),
 (5197, 10394),
 (5198, 10396),
 (5199, 10398),
 (5200, 10400),
 (5201, 10402),
 (5202, 10404),
 (5203, 10406),
 (5204, 10408),
 (5205, 10410),
 (5206, 10412),
 (5207, 10414),
 (5208, 10416),
 (5209, 10418),
 (5210, 10420),
 (5211, 10422),
 (5212, 10424),
 (5213, 10426),
 (5214, 10428),
 (5215, 10430),
 (5216, 10432),
 (5217, 10434),
 (5218, 10436),
 (5219, 10438),
 (5220, 10440),
 (5221, 10442),
 (5222, 10444),
 (5223, 10446),
 (5224, 10448),
 (5225, 10450),
 (5226, 10452),
 (5227, 10454),
 (5228, 10456),
 (5229, 10458),
 (5230, 10460),
 (5231, 10462),
 (5232, 10464),
 (5233, 10466),
 (5234, 10468),
 (5235, 10470),
 (5236, 10472),
 (5237, 10474),
 (5238, 10476),
 (5239, 10478),
 (5240, 10480),
 (5241, 10482),
 (5242, 10484),
 (5243, 10486),
 (5244, 10488),
 (5245, 10490),
 (5246, 10492),
 (5247, 10494),
 (5248, 10496),
 (5249, 10498),
 (5250, 10500),
 (5251, 10502),
 (5252, 10504),
 (5253, 10506),
 (5254, 10508),
 (5255, 10510),
 (5256, 10512),
 (5257, 10514),
 (5258, 10516),
 (5259, 10518),
 (5260, 10520),
 (5261, 10522),
 (5262, 10524),
 (5263, 10526),
 (5264, 10528),
 (5265, 10530),
 (5266, 10532),
 (5267, 10534),
 (5268, 10536),
 (5269, 10538),
 (5270, 10540),
 (5271, 10542),
 (5272, 10544),
 (5273, 10546),
 (5274, 10548),
 (5275, 10550),
 (5276, 10552),
 (5277, 10554),
 (5278, 10556),
 (5279, 10558),
 (5280, 10560),
 (5281, 10562),
 (5282, 10564),
 (5283, 10566),
 (5284, 10568),
 (5285, 10570),
 (5286, 10572),
 (5287, 10574),
 (5288, 10576),
 (5289, 10578),
 (5290, 10580),
 (5291, 10582),
 (5292, 10584),
 (5293, 10586),
 (5294, 10588),
 (5295, 10590),
 (5296, 10592),
 (5297, 10594),
 (5298, 10596),
 (5299, 10598),
 (5300, 10600),
 (5301, 10602),
 (5302, 10604),
 (5303, 10606),
 (5304, 10608),
 (5305, 10610),
 (5306, 10612),
 (5307, 10614),
 (5308, 10616),
 (5309, 10618),
 (5310, 10620),
 (5311, 10622),
 (5312, 10624),
 (5313, 10626),
 (5314, 10628),
 (5315, 10630),
 (5316, 10632),
 (5317, 10634),
 (5318, 10636),
 (5319, 10638),
 (5320, 10640),
 (5321, 10642),
 (5322, 10644),
 (5323, 10646),
 (5324, 10648),
 (5325, 10650),
 (5326, 10652),
 (5327, 10654),
 (5328, 10656),
 (5329, 10658),
 (5330, 10660),
 (5331, 10662),
 (5332, 10664),
 (5333, 10666),
 (5334, 10668),
 (5335, 10670),
 (5336, 10672),
 (5337, 10674),
 (5338, 10676),
 (5339, 10678),
 (5340, 10680),
 (5341, 10682),
 (5342, 10684),
 (5343, 10686),
 (5344, 10688),
 (5345, 10690),
 (5346, 10692),
 (5347, 10694),
 (5348, 10696),
 (5349, 10698),
 (5350, 10700),
 (5351, 10702),
 (5352, 10704),
 (5353, 10706),
 (5354, 10708),
 (5355, 10710),
 (5356, 10712),
 (5357, 10714),
 (5358, 10716),
 (5359, 10718),
 (5360, 10720),
 (5361, 10722),
 (5362, 10724),
 (5363, 10726),
 (5364, 10728),
 (5365, 10730),
 (5366, 10732),
 (5367, 10734),
 (5368, 10736),
 (5369, 10738),
 (5370, 10740),
 (5371, 10742),
 (5372, 10744),
 (5373, 10746),
 (5374, 10748),
 (5375, 10750),
 (5376, 10752),
 (5377, 10754),
 (5378, 10756),
 (5379, 10758),
 (5380, 10760),
 (5381, 10762),
 (5382, 10764),
 (5383, 10766),
 (5384, 10768),
 (5385, 10770),
 (5386, 10772),
 (5387, 10774),
 (5388, 10776),
 (5389, 10778),
 (5390, 10780),
 (5391, 10782),
 (5392, 10784),
 (5393, 10786),
 (5394, 10788),
 (5395, 10790),
 (5396, 10792),
 (5397, 10794),
 (5398, 10796),
 (5399, 10798),
 (5400, 10800),
 (5401, 10802),
 (5402, 10804),
 (5403, 10806),
 (5404, 10808),
 (5405, 10810),
 (5406, 10812),
 (5407, 10814),
 (5408, 10816),
 (5409, 10818),
 (5410, 10820),
 (5411, 10822),
 (5412, 10824),
 (5413, 10826),
 (5414, 10828),
 (5415, 10830),
 (5416, 10832),
 (5417, 10834),
 (5418, 10836),
 (5419, 10838),
 (5420, 10840),
 (5421, 10842),
 (5422, 10844),
 (5423, 10846),
 (5424, 10848),
 (5425, 10850),
 (5426, 10852),
 (5427, 10854),
 (5428, 10856),
 (5429, 10858),
 (5430, 10860),
 (5431, 10862),
 (5432, 10864),
 (5433, 10866),
 (5434, 10868),
 (5435, 10870),
 (5436, 10872),
 (5437, 10874),
 (5438, 10876),
 (5439, 10878),
 (5440, 10880),
 (5441, 10882),
 (5442, 10884),
 (5443, 10886),
 (5444, 10888),
 (5445, 10890),
 (5446, 10892),
 (5447, 10894),
 (5448, 10896),
 (5449, 10898),
 (5450, 10900),
 (5451, 10902),
 (5452, 10904),
 (5453, 10906),
 (5454, 10908),
 (5455, 10910),
 (5456, 10912),
 (5457, 10914),
 (5458, 10916),
 (5459, 10918),
 (5460, 10920),
 (5461, 10922),
 (5462, 10924),
 (5463, 10926),
 (5464, 10928),
 (5465, 10930),
 (5466, 10932),
 (5467, 10934),
 (5468, 10936),
 (5469, 10938),
 (5470, 10940),
 (5471, 10942),
 (5472, 10944),
 (5473, 10946),
 (5474, 10948),
 (5475, 10950),
 (5476, 10952),
 (5477, 10954),
 (5478, 10956),
 (5479, 10958),
 (5480, 10960),
 (5481, 10962),
 (5482, 10964),
 (5483, 10966),
 (5484, 10968),
 (5485, 10970),
 (5486, 10972),
 (5487, 10974),
 (5488, 10976),
 (5489, 10978),
 (5490, 10980),
 (5491, 10982),
 (5492, 10984),
 (5493, 10986),
 (5494, 10988),
 (5495, 10990),
 (5496, 10992),
 (5497, 10994),
 (5498, 10996),
 (5499, 10998),
 (5500, 11000),
 (5501, 11002),
 (5502, 11004),
 (5503, 11006),
 (5504, 11008),
 (5505, 11010),
 (5506, 11012),
 (5507, 11014),
 (5508, 11016),
 (5509, 11018),
 (5510, 11020),
 (5511, 11022),
 (5512, 11024),
 (5513, 11026),
 (5514, 11028),
 (5515, 11030),
 (5516, 11032),
 (5517, 11034),
 (5518, 11036),
 (5519, 11038),
 (5520, 11040),
 (5521, 11042),
 (5522, 11044),
 (5523, 11046),
 (5524, 11048),
 (5525, 11050),
 (5526, 11052),
 (5527, 11054),
 (5528, 11056),
 (5529, 11058),
 (5530, 11060),
 (5531, 11062),
 (5532, 11064),
 (5533, 11066),
 (5534, 11068),
 (5535, 11070),
 (5536, 11072),
 (5537, 11074),
 (5538, 11076),
 (5539, 11078),
 (5540, 11080),
 (5541, 11082),
 (5542, 11084),
 (5543, 11086),
 (5544, 11088),
 (5545, 11090),
 (5546, 11092),
 (5547, 11094),
 (5548, 11096),
 (5549, 11098),
 (5550, 11100),
 (5551, 11102),
 (5552, 11104),
 (5553, 11106),
 (5554, 11108),
 (5555, 11110),
 (5556, 11112),
 (5557, 11114),
 (5558, 11116),
 (5559, 11118),
 (5560, 11120),
 (5561, 11122),
 (5562, 11124),
 (5563, 11126),
 (5564, 11128),
 (5565, 11130),
 (5566, 11132),
 (5567, 11134),
 (5568, 11136),
 (5569, 11138),
 (5570, 11140),
 (5571, 11142),
 (5572, 11144),
 (5573, 11146),
 (5574, 11148),
 (5575, 11150),
 (5576, 11152),
 (5577, 11154),
 (5578, 11156),
 (5579, 11158),
 (5580, 11160),
 (5581, 11162),
 (5582, 11164),
 (5583, 11166),
 (5584, 11168),
 (5585, 11170),
 (5586, 11172),
 (5587, 11174),
 (5588, 11176),
 (5589, 11178),
 (5590, 11180),
 (5591, 11182),
 (5592, 11184),
 (5593, 11186),
 (5594, 11188),
 (5595, 11190),
 (5596, 11192),
 (5597, 11194),
 (5598, 11196),
 (5599, 11198),
 (5600, 11200),
 (5601, 11202),
 (5602, 11204),
 (5603, 11206),
 (5604, 11208),
 (5605, 11210),
 (5606, 11212),
 (5607, 11214),
 (5608, 11216),
 (5609, 11218),
 (5610, 11220),
 (5611, 11222),
 (5612, 11224),
 (5613, 11226),
 (5614, 11228),
 (5615, 11230),
 (5616, 11232),
 (5617, 11234),
 (5618, 11236),
 (5619, 11238),
 (5620, 11240),
 (5621, 11242),
 (5622, 11244),
 (5623, 11246),
 (5624, 11248),
 (5625, 11250),
 (5626, 11252),
 (5627, 11254),
 (5628, 11256),
 (5629, 11258),
 (5630, 11260),
 (5631, 11262),
 (5632, 11264),
 (5633, 11266),
 (5634, 11268),
 (5635, 11270),
 (5636, 11272),
 (5637, 11274),
 (5638, 11276),
 (5639, 11278),
 (5640, 11280),
 (5641, 11282),
 (5642, 11284),
 (5643, 11286),
 (5644, 11288),
 (5645, 11290),
 (5646, 11292),
 (5647, 11294),
 (5648, 11296),
 (5649, 11298),
 (5650, 11300),
 (5651, 11302),
 (5652, 11304),
 (5653, 11306),
 (5654, 11308),
 (5655, 11310),
 (5656, 11312),
 (5657, 11314),
 (5658, 11316),
 (5659, 11318),
 (5660, 11320),
 (5661, 11322),
 (5662, 11324),
 (5663, 11326),
 (5664, 11328),
 (5665, 11330),
 (5666, 11332),
 (5667, 11334),
 (5668, 11336),
 (5669, 11338),
 (5670, 11340),
 (5671, 11342),
 (5672, 11344),
 (5673, 11346),
 (5674, 11348),
 (5675, 11350),
 (5676, 11352),
 (5677, 11354),
 (5678, 11356),
 (5679, 11358),
 (5680, 11360),
 (5681, 11362),
 (5682, 11364),
 (5683, 11366),
 (5684, 11368),
 (5685, 11370),
 (5686, 11372),
 (5687, 11374),
 (5688, 11376),
 (5689, 11378),
 (5690, 11380),
 (5691, 11382),
 (5692, 11384),
 (5693, 11386),
 (5694, 11388),
 (5695, 11390),
 (5696, 11392),
 (5697, 11394),
 (5698, 11396),
 (5699, 11398),
 (5700, 11400),
 (5701, 11402),
 (5702, 11404),
 (5703, 11406),
 (5704, 11408),
 (5705, 11410),
 (5706, 11412),
 (5707, 11414),
 (5708, 11416),
 (5709, 11418),
 (5710, 11420),
 (5711, 11422),
 (5712, 11424),
 (5713, 11426),
 (5714, 11428),
 (5715, 11430),
 (5716, 11432),
 (5717, 11434),
 (5718, 11436),
 (5719, 11438),
 (5720, 11440),
 (5721, 11442),
 (5722, 11444),
 (5723, 11446),
 (5724, 11448),
 (5725, 11450),
 (5726, 11452),
 (5727, 11454),
 (5728, 11456),
 (5729, 11458),
 (5730, 11460),
 (5731, 11462),
 (5732, 11464),
 (5733, 11466),
 (5734, 11468),
 (5735, 11470),
 (5736, 11472),
 (5737, 11474),
 (5738, 11476),
 (5739, 11478),
 (5740, 11480),
 (5741, 11482),
 (5742, 11484),
 (5743, 11486),
 (5744, 11488),
 (5745, 11490),
 (5746, 11492),
 (5747, 11494),
 (5748, 11496),
 (5749, 11498),
 (5750, 11500),
 (5751, 11502),
 (5752, 11504),
 (5753, 11506),
 (5754, 11508),
 (5755, 11510),
 (5756, 11512),
 (5757, 11514),
 (5758, 11516),
 (5759, 11518),
 (5760, 11520),
 (5761, 11522),
 (5762, 11524),
 (5763, 11526),
 (5764, 11528),
 (5765, 11530),
 (5766, 11532),
 (5767, 11534),
 (5768, 11536),
 (5769, 11538),
 (5770, 11540),
 (5771, 11542),
 (5772, 11544),
 (5773, 11546),
 (5774, 11548),
 (5775, 11550),
 (5776, 11552),
 (5777, 11554),
 (5778, 11556),
 (5779, 11558),
 (5780, 11560),
 (5781, 11562),
 (5782, 11564),
 (5783, 11566),
 (5784, 11568),
 (5785, 11570),
 (5786, 11572),
 (5787, 11574),
 (5788, 11576),
 (5789, 11578),
 (5790, 11580),
 (5791, 11582),
 (5792, 11584),
 (5793, 11586),
 (5794, 11588),
 (5795, 11590),
 (5796, 11592),
 (5797, 11594),
 (5798, 11596),
 (5799, 11598),
 (5800, 11600),
 (5801, 11602),
 (5802, 11604),
 (5803, 11606),
 (5804, 11608),
 (5805, 11610),
 (5806, 11612),
 (5807, 11614),
 (5808, 11616),
 (5809, 11618),
 (5810, 11620),
 (5811, 11622),
 (5812, 11624),
 (5813, 11626),
 (5814, 11628),
 (5815, 11630),
 (5816, 11632),
 (5817, 11634),
 (5818, 11636),
 (5819, 11638),
 (5820, 11640),
 (5821, 11642),
 (5822, 11644),
 (5823, 11646),
 (5824, 11648),
 (5825, 11650),
 (5826, 11652),
 (5827, 11654),
 (5828, 11656),
 (5829, 11658),
 (5830, 11660),
 (5831, 11662),
 (5832, 11664),
 (5833, 11666),
 (5834, 11668),
 (5835, 11670),
 (5836, 11672),
 (5837, 11674),
 (5838, 11676),
 (5839, 11678),
 (5840, 11680),
 (5841, 11682),
 (5842, 11684),
 (5843, 11686),
 (5844, 11688),
 (5845, 11690),
 (5846, 11692),
 (5847, 11694),
 (5848, 11696),
 (5849, 11698),
 (5850, 11700),
 (5851, 11702),
 (5852, 11704),
 (5853, 11706),
 (5854, 11708),
 (5855, 11710),
 (5856, 11712),
 (5857, 11714),
 (5858, 11716),
 (5859, 11718),
 (5860, 11720),
 (5861, 11722),
 (5862, 11724),
 (5863, 11726),
 (5864, 11728),
 (5865, 11730),
 (5866, 11732),
 (5867, 11734),
 (5868, 11736),
 (5869, 11738),
 (5870, 11740),
 (5871, 11742),
 (5872, 11744),
 (5873, 11746),
 (5874, 11748),
 (5875, 11750),
 (5876, 11752),
 (5877, 11754),
 (5878, 11756),
 (5879, 11758),
 (5880, 11760),
 (5881, 11762),
 (5882, 11764),
 (5883, 11766),
 (5884, 11768),
 (5885, 11770),
 (5886, 11772),
 (5887, 11774),
 (5888, 11776),
 (5889, 11778),
 (5890, 11780),
 (5891, 11782),
 (5892, 11784),
 (5893, 11786),
 (5894, 11788),
 (5895, 11790),
 (5896, 11792),
 (5897, 11794),
 (5898, 11796),
 (5899, 11798),
 (5900, 11800),
 (5901, 11802),
 (5902, 11804),
 (5903, 11806),
 (5904, 11808),
 (5905, 11810),
 (5906, 11812),
 (5907, 11814),
 (5908, 11816),
 (5909, 11818),
 (5910, 11820),
 (5911, 11822),
 (5912, 11824),
 (5913, 11826),
 (5914, 11828),
 (5915, 11830),
 (5916, 11832),
 (5917, 11834),
 (5918, 11836),
 (5919, 11838),
 (5920, 11840),
 (5921, 11842),
 (5922, 11844),
 (5923, 11846),
 (5924, 11848),
 (5925, 11850),
 (5926, 11852),
 (5927, 11854),
 (5928, 11856),
 (5929, 11858),
 (5930, 11860),
 (5931, 11862),
 (5932, 11864),
 (5933, 11866),
 (5934, 11868),
 (5935, 11870),
 (5936, 11872),
 (5937, 11874),
 (5938, 11876),
 (5939, 11878),
 (5940, 11880),
 (5941, 11882),
 (5942, 11884),
 (5943, 11886),
 (5944, 11888),
 (5945, 11890),
 (5946, 11892),
 (5947, 11894),
 (5948, 11896),
 (5949, 11898),
 (5950, 11900),
 (5951, 11902),
 (5952, 11904),
 (5953, 11906),
 (5954, 11908),
 (5955, 11910),
 (5956, 11912),
 (5957, 11914),
 (5958, 11916),
 (5959, 11918),
 (5960, 11920),
 (5961, 11922),
 (5962, 11924),
 (5963, 11926),
 (5964, 11928),
 (5965, 11930),
 (5966, 11932),
 (5967, 11934),
 (5968, 11936),
 (5969, 11938),
 (5970, 11940),
 (5971, 11942),
 (5972, 11944),
 (5973, 11946),
 (5974, 11948),
 (5975, 11950),
 (5976, 11952),
 (5977, 11954),
 (5978, 11956),
 (5979, 11958),
 (5980, 11960),
 (5981, 11962),
 (5982, 11964),
 (5983, 11966),
 (5984, 11968),
 (5985, 11970),
 (5986, 11972),
 (5987, 11974),
 (5988, 11976),
 (5989, 11978),
 (5990, 11980),
 (5991, 11982),
 (5992, 11984),
 (5993, 11986),
 (5994, 11988),
 (5995, 11990),
 (5996, 11992),
 (5997, 11994),
 (5998, 11996),
 (5999, 11998),
 (6000, 12000),
 ...]

- Deshazte de la persistencia del RDD utilizando unpersist() para liberar recursos y detén la sesión de Spark al final del ejercicio con sc.stop().

In [33]:
rdd_filtrado.unpersist()

PythonRDD[40] at collect at <timed eval>:1

Al terminar el ejercicio, analiza y comenta los resultados obtenidos, explicando cómo la persistencia afectó el rendimiento de tus cálculos.

Como se ha mencionado en la informacion proporcionada. Persist nos permite mantener un RDD guardado en memoria, de manera que no tenga que recalcularse otra vez. Podemos calaramente ver que para este caso que una ves hemos usado persist el tiempo que toma el collect es menor al que teniamos antes de realizar el persist.

In [34]:
sc.stop()

# **Apache Spark Dataframes**

En esta parte de la práctica vamos a introducir los elementos que ofrece Spark para trabajar con estructuras de datos. Veremos desde estructuras muy simples hasta estructuras complejas, donde los campos pueden a su vez tener campos anidados. En concreto utilizaremos datos de Twitter capturados en el contexto de las elecciones generales en España del 28 de abril de 2019

### Configuración del entorno

In [35]:
import findspark
findspark.init()

In [36]:
import re
import os
import pandas as pd
from matplotlib import pyplot as plt
from math import floor
from pyspark import SparkConf, SparkContext, SQLContext, HiveContext
from pyspark.sql import Row

In [37]:
SUBMIT_ARGS = "--jars /opt/cloudera/parcels/CDH-6.2.0-1.cdh6.2.0.p0.967373/jars/graphframes_graphframes-0.7.0-spark2.4-s_2.11.jar pyspark-shell"

os.environ["PYSPARK_SUBMIT_ARGS"] = SUBMIT_ARGS

conf = SparkConf()
conf.setMaster("local[1]")
# Introducid el nombre de la app ActividadSparkSQL_ seguido de vuestro nombre de usuario
conf.setAppName('ActividadSparkSQL_ebraganza')
sc = SparkContext(conf=conf)

## Introducción a dataframes estructurados y operaciones sobre ellos

Como ya se ha mencionado, en los siguientes ejercicis vamos a utilizar datos de Twitter que recolectamos durante las elecciones generales en España del 28 de abril de 2019. Como veremos, los tweets tienen una estructura interna bastante compleja que hemos simplificado un poco en esta práctica.

Lo primero que vamos a aprender es cómo importar este tipo de datos a nuestro entorno. Uno de los tipos de archivos más comunes para guardar este formato de información es [la estructura JSON](https://en.wikipedia.org/wiki/JSON). Esta estructura permite guardar información en un texto plano de diferentes objetos siguiendo una estructura de diccionario donde cada campo tiene asignado una clave y un valor. La estructura puede ser anidada, o sea que una clave puede tener como valor otra estructura de tipo diccionario.

Spark SQL permite leer datos de muchos formatos diferentes. Se os pide que [leáis el fichero JSON](https://archive.apache.org/dist/spark/docs/2.4.0/sql-data-sources-json.html) de la ruta ```/aula_M2.858/data/tweets28a_sample.json```. Este archivo contiene un pequeño *sample*, un 0.1% de la base de datos completa (en un siguiente apartado veremos cómo realizar este *sampleado*). En esta ocasión no se os pide especificar la estructura del dataframe ya que la función de lectura la inferirá automáticamente.

**Ejemplo de lectura (Rellenar con lo correspondiente para la lectura del archivo json)**:

```Python
sqlContext = SQLContext(sc)
tweets_sample = sqlContext.read.<FILL IN>

print("Loaded dataset contains %d tweets" % tweets_sample.count())
```

Para mostrar la estructura del dataset que acabamos de cargar, podéis obtener la información acerca de cómo está estructurado el DataTable utilizando el método ```printSchema()```. Tenéis que familiarizaros con esta estructura ya que será la que utilizaremos durante los próximos ejercicios. Recordad también que no todos los tweets tienen todos los campos, como por ejemplo la ubicación (campo ```place```). Cuando esto pasa el campo pasa a ser ```NULL```. Podéis ver más información sobre este tipo de datos en [este enlace](https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object).

Ahora debéis introducir el ejemplo de lectura con el `<FILL IN>` relleno según corresponda para la lectura del archivo JSON. Y, a continuación, mostraréis la estructura del dataset utilizando `printSchema()`.

In [38]:
# Leer el archivo data frame
ruta = '/aula_M2.858/data/tweets28a_sample.json'
sqlContext = SQLContext(sc)
tweets_sample = (sqlContext
                 .read
                 .json(ruta)
                )

In [39]:
print("Loaded dataset contains %d tweets" % tweets_sample.count())

Loaded dataset contains 27268 tweets

In [40]:
tweets_sample.printSchema()

root
 |-- _id: string (nullable = true)
 |-- created_at: long (nullable = true)
 |-- lang: string (nullable = true)
 |-- place: struct (nullable = true)
 |    |-- bounding_box: struct (nullable = true)
 |    |    |-- coordinates: array (nullable = true)
 |    |    |    |-- element: array (containsNull = true)
 |    |    |    |    |-- element: array (containsNull = true)
 |    |    |    |    |    |-- element: double (containsNull = true)
 |    |    |-- type: string (nullable = true)
 |    |-- country_code: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- place_type: string (nullable = true)
 |-- retweeted_status: struct (nullable = true)
 |    |-- _id: string (nullable = true)
 |    |-- user: struct (nullable = true)
 |    |    |-- followers_count: long (nullable = true)
 |    |    |-- friends_count: long (nullable = true)
 |    |    |-- id_str: string (nullable = true)
 |    |    |-- lang: string (nullable = true)
 |    |    |-- screen_name: string (nullable = true)
 |    |    |-- statuses_count: long (nullable = true)
 |-- text: string (nullable = true)
 |-- user: struct (nullable = true)
 |    |-- followers_count: long (nullable = true)
 |    |-- friends_count: long (nullable = true)
 |    |-- id_str: string (nullable = true)
 |    |-- lang: string (nullable = true)
 |    |-- screen_name: string (nullable = true)
 |    |-- statuses_count: long (nullable = true)

### Queries sobre dataframes complejos

A continuación vamos a ver como realizar consultas sobre el dataset de los tweets. Vamos a utilizar [sentencias *SQL*](https://www.w3schools.com/sql/default.asp) (como las utilizadas en la mayoría de bases de datos relacionales).

Lo primero que se debe hacer es registrar el dataframe de tweets como una tabla de SQL. Para ello utilizaremos [sqlContext.registerDataFrameAsTable()](https://archive.apache.org/dist/spark/docs/api/python/pyspark.sql.html#pyspark.sql.SQLContext.registerDataFrameAsTable). Para ejecutar comandos sql solo teneis que utilizar el metodo sql() del objecto contexto, en este caso `sqlContext`.

#### Queries a través del pipeline

Las tablas de Spark SQL ofrecen otro mecanismo para aplicar las transformaciones y obtener resultados similares a los que se obtendría aplicando una consulta SQL. Por ejemplo, utilizando el siguiente pipeline obtendremos el texto de todos los tweets en español:

```
tweets_sample.where("lang == 'es'").select("text")
```

Que es equivalente a la siguiente sentencia SQL:

```
SELECT text
FROM tweets_sample
WHERE lang == 'es'
```

Podéis consultar el [API de spark SQL](https://archive.apache.org/dist/spark/docs/api/python/pyspark.sql.html) para encontrar más información sobre como utilizar las diferentes transformaciones en tablas.

### **Ejercicio 5**: Análisis de Tweets mediante DataFrames y consultas SQL (*2 puntos*)

Anteriormente ya has realizado la lectura del conjunto `tweets28a_sample.json` en formato JSON. Ahora deberás asegúrate de registrar el DataFrame como una tabla SQL llamada `tweets_sample`.

***Nota:*** Debido a que es posible que ejecutes estas líneas de codigo várias veces, vamos a tomar la precaución de ejecutar el comando sql para eliminar tablas antes de que las crees, ya que puede existir la posibilidad de que ya existan.

`sqlContext.sql("DROP TABLE IF EXISTS tweets_sample")`

A continuación, se pide crear una tabla y registrarla con el nombre ```users_agg``` con [la información agregada](https://www.w3schools.com/sql/sql_groupby.asp) de los usuarios que tengan definido su idioma (```user.lang```) como español (```es```). En concreto se pide que la tabla contenga las siguientes columnas:
- **screen_name:** nombre del usuario
- **friends_count:** número máximo (ver nota) de personas a las que sigue
- **tweets:** número de tweets realizados
- **followers_count:** número máximo (ver nota) personas que siguen al usuario.

El orden en el cual se deben mostrar los registros es orden descendente acorde al número de tweets.

***Nota:*** Es importante que te fijes que el nombre de *friends* y *followers* puede diferir a lo largo de la adquisición de datos. En este caso vamos a utilizar la función de agregación `MAX` sobre cada uno de estos campos para evitar segmentar el usuario en diversas instancias.

In [41]:
# YOUR CODE HERE
sqlContext.sql("DROP TABLE IF EXISTS tweets_sample")
sqlContext.registerDataFrameAsTable(tweets_sample, tableName= 'tweets_sample')

In [42]:
from pyspark.sql.functions import avg, max, sum, count, desc

# Creación del DataFrame users_agg
users_agg = (tweets_sample
             .where("user.lang == 'es'")
             .select("user.screen_name", "user.friends_count", "text", "user.followers_count")
             .groupby("screen_name")
             .agg(
                 max("friends_count").alias("friends_count"),
                 count("text").alias("tweets"),
                 max("followers_count").alias("followers_count")
             )
             .orderBy(desc("tweets"))
            )
sqlContext.sql("DROP TABLE IF EXISTS users_agg")
sqlContext.registerDataFrameAsTable(users_agg, tableName= 'users_agg')
users_agg.show()

+---------------+-------------+------+---------------+
|    screen_name|friends_count|tweets|followers_count|
+---------------+-------------+------+---------------+
|       anaoromi|         6258|    16|           6774|
|    RosaMar6254|         6208|    14|           6245|
|        lyuva26|         3088|    13|           3732|
|     carrasquem|          147|    12|            215|
|PisandoFuerte10|         2795|    12|           1752|
|       jasalo54|         1889|    11|            689|
|  Rafa_eltorete|          908|     9|           1060|
| locuspolitikus|        11261|     9|          10244|
|      kikyosanz|          154|     9|            273|
|  PabloChabolas|         4925|     9|           4042|
|     Lordcrow11|         5002|     9|           3069|
|      lolalailo|         4922|     9|           3738|
|    DuroBelinda|         5242|     9|           5778|
|        Fermirv|         3031|     8|           1731|
| BlaancaNiieves|         7023|     8|          12630|
| complementosCH|         2985|     8|           2740|
|   rosavergar23|          900|     8|           1224|
| Espanholimetro|         1637|     8|            708|
|    SSarelvis67|         3287|     8|           2323|
|   merchi_otero|          701|     8|            852|
+---------------+-------------+------+---------------+
only showing top 20 rows

In [43]:
# Creación del DataFrame users_agg opcion 2 usando sql.
users_agg = (sqlContext.sql(
    """
    SELECT 
        user.screen_name as screen_name, 
        MAX(user.friends_count) as friends_count, 
        COUNT(text) as tweets, 
        MAX(user.followers_count) as followers_count
    FROM tweets_sample
    WHERE user.lang = 'es'
    GROUP BY 1
    ORDER BY tweets desc
    
    """
)
            )
users_agg.show()

+---------------+-------------+------+---------------+
|    screen_name|friends_count|tweets|followers_count|
+---------------+-------------+------+---------------+
|       anaoromi|         6258|    16|           6774|
|    RosaMar6254|         6208|    14|           6245|
|        lyuva26|         3088|    13|           3732|
|     carrasquem|          147|    12|            215|
|PisandoFuerte10|         2795|    12|           1752|
|       jasalo54|         1889|    11|            689|
|  Rafa_eltorete|          908|     9|           1060|
| locuspolitikus|        11261|     9|          10244|
|      kikyosanz|          154|     9|            273|
|  PabloChabolas|         4925|     9|           4042|
|     Lordcrow11|         5002|     9|           3069|
|      lolalailo|         4922|     9|           3738|
|    DuroBelinda|         5242|     9|           5778|
|        Fermirv|         3031|     8|           1731|
| BlaancaNiieves|         7023|     8|          12630|
| complementosCH|         2985|     8|           2740|
|   rosavergar23|          900|     8|           1224|
| Espanholimetro|         1637|     8|            708|
|    SSarelvis67|         3287|     8|           2323|
|   merchi_otero|          701|     8|            852|
+---------------+-------------+------+---------------+
only showing top 20 rows

In [44]:
# DO NOT USE THIS CELL

A continuación recurriremos al [JOIN de tablas](https://www.w3schools.com/sql/sql_join.asp) para combinar la información entre tablas. Debes combinar la tabla `users_agg` y la tabla `tweets_sample` utilizando un `INNER JOIN` para obtener una nueva tabla con el nombre retweeted con la siguiente información:
- ***screen_name:*** nombre de usuario
- ***friends_count:*** número máximo de personas a las que sigue
- ***followers_count:*** número máximo de personas que siguen al usuario.
- ***tweets:*** número de tweets realizados por el usuario.
- ***retweeted:*** número de retweets obtenidos por el usuario.
- ***ratio_tweet_retweeted:*** ratio de retweets por número de tweets publicados $\frac{retweets}{tweets}$

La tabla resultante `retweeted` tiene que estar ordenada de manera descendente según el valor de la columna `ratio_tweet_retweeted`.

Por último, utilizando queries a través de pipeline, debes crear una tabla `user_retweets` a partir de la tabla `tweets_sample`, utilizando transformaciones que contenga dos columnas:
- ***screen_name:*** nombre de usuario
- ***retweeted:*** número de retweets

Ordena la tabla en orden descendente utilizando el valor de la columna ```retweeted```.

In [45]:
# JOIN DE TABLAS
retweeted = (sqlContext.sql(
    """
    
    WITH 
        retweets as (
        SELECT 
            user.screen_name as screen_name, 
            COUNT(retweeted_status._id) as retweeted
        FROM tweets_sample
        WHERE retweeted_status._id IS NOT NULL 
        GROUP BY 1
        ORDER BY retweeted desc 
        )

        SELECT 
            A.*, 
            B.retweeted,
            ROUND(B.retweeted / NULLIF(A.tweets, 0) , 2) as ratio_tweet_retweeted 
        FROM users_agg A
        INNER JOIN retweets B
        ON A.screen_name = B.screen_name
        ORDER BY ratio_tweet_retweeted DESC

        """
)
            )

sqlContext.sql("DROP TABLE IF EXISTS retweeted")
sqlContext.registerDataFrameAsTable(retweeted, tableName= 'retweeted')
retweeted.show()

+---------------+-------------+------+---------------+---------+---------------------+
|    screen_name|friends_count|tweets|followers_count|retweeted|ratio_tweet_retweeted|
+---------------+-------------+------+---------------+---------+---------------------+
|   Dori74176530|         1610|     1|             74|        2|                  2.0|
| Marisa22208126|           36|     1|             21|        2|                  2.0|
| Jhonnynecmonic|         9020|     6|           8694|        6|                  1.0|
|     Jo_Herrero|         4747|     6|           3111|        6|                  1.0|
|       28aOriol|         2103|     8|            873|        8|                  1.0|
|      Orballo10|          147|     7|           1145|        7|                  1.0|
|javiergarmon191|          448|     6|           1767|        6|                  1.0|
|        dbt0170|          812|     7|            770|        7|                  1.0|
|     carrasquem|          147|    12|            215|       12|                  1.0|
|     astroman78|         1095|     7|           1238|        7|                  1.0|
|  PabloChabolas|         4925|     9|           4042|        9|                  1.0|
|AmparoDelacru13|         5725|     7|           5218|        7|                  1.0|
|     Lordcrow11|         5002|     9|           3069|        9|                  1.0|
|        mrh0099|          447|     7|            243|        7|                  1.0|
| locuspolitikus|        11261|     9|          10244|        9|                  1.0|
| IgualdadFFCSSE|         1192|     7|            685|        7|                  1.0|
|      kikyosanz|          154|     9|            273|        9|                  1.0|
|       LianaEHE|         5272|     8|           5014|        8|                  1.0|
|     nusagatero|         4998|     7|           3829|        7|                  1.0|
|       anap1958|          132|     8|            400|        8|                  1.0|
+---------------+-------------+------+---------------+---------+---------------------+
only showing top 20 rows

In [46]:
## Creación de user retweets
from pyspark.sql.functions import avg, max, sum, count, desc

# Creación del DataFrame users_agg
users_retweets = (
    tweets_sample
             .where("retweeted_status._id is not NULL")
             .select("user.screen_name", "retweeted_status._id")
             .groupby("screen_name")
             .agg(
                 count("_id").alias("retweeted"),
             )
             .orderBy(desc("retweeted"))
            )
sqlContext.sql("DROP TABLE IF EXISTS users_retweets")
sqlContext.registerDataFrameAsTable(users_retweets, tableName= 'users_retweets')
users_retweets.show()

+---------------+---------+
|    screen_name|retweeted|
+---------------+---------+
|       anaoromi|       16|
|     carrasquem|       12|
|PisandoFuerte10|       12|
|  Angel15268471|       11|
|    RosaMar6254|       11|
|       jasalo54|       11|
|        lyuva26|       11|
| locuspolitikus|        9|
|     Lordcrow11|        9|
|    DuroBelinda|        9|
|      kikyosanz|        9|
|      el_partal|        9|
|  PabloChabolas|        9|
|   Robi45852533|        9|
|      lolalailo|        8|
|       anap1958|        8|
|    SSarelvis67|        8|
|   merchi_otero|        8|
| complementosCH|        8|
| Espanholimetro|        8|
+---------------+---------+
only showing top 20 rows

In [47]:
# DO NOT USE THIS CELL

## Bases de datos HIVE y operaciones complejas

Hasta ahora hemos estado trabajando con un pequeño sample de los tweets generados (el 0.1%). En esta parte de la actividad vamos a ver como trabajar y tratar con el dataset completo. Para ello vamos a utilizar tanto transformaciones sobre tablas como operaciones sobre RDD cuando sea necesario.

Es importante tener en cuenta que muchas veces los datos con los que trabajamos se utilizarán en diversos proyectos. En lugar de manejar directamente los archivos, es más eficiente y organizado recurrir a una base de datos para gestionar la información. En el ecosistema de Hadoop, una de las bases de datos más utilizadas es [Apache Hive](https://hive.apache.org/). Sin embargo, es crucial entender que Hive no es una base de datos convencional. En realidad, funciona como un metastore que mapea archivos en el sistema de archivos distribuido de Hadoop (HDFS).

Esto significa que Hive no almacena los datos en su propio formato de base de datos, sino que actúa como una interfaz que permite a los usuarios ejecutar consultas SQL sobre los datos almacenados en HDFS. Esto proporciona una forma eficiente de acceder y manipular grandes volúmenes de datos distribuidos sin necesidad de moverlos o convertirlos a un formato tradicional de base de datos.

La manera de acceder a esta base de datos es creando un contexto Hive de manera muy similar a como declaramos un contexto SQL. Primero vamos a declarar un variable ```hiveContext``` instanciándola como un objeto de la classe ```HiveContext```. Acto seguido vamos a comprobar cuantas tablas están registradas en este contexto.

**Esquema**
```Python
hiveContext = <FILL IN>
hiveContext.tables().show()
```

Ejecuta este esquema con el FILL IN rellenado.

In [48]:
# YOUR CODE HERE
hiveContext = HiveContext(sc)
hiveContext.tables().show()

+--------+------------------+-----------+
|database|         tableName|isTemporary|
+--------+------------------+-----------+
| default|            d_pais|      false|
| default| d_tipo_habitacion|      false|
| default|      province_28a|      false|
| default|         tweets28a|      false|
| default|     tweets28afull|      false|
| default|tweets28a_sample25|      false|
| default|         user_info|      false|
| default|     user_info_old|      false|
|        |         retweeted|       true|
|        |     tweets_sample|       true|
|        |         users_agg|       true|
|        |    users_retweets|       true|
+--------+------------------+-----------+

Observad que ahora mismo tenemos varias tablas registradas en este contexto. Algunas de ellas no temporales y dos temporales, las que hemos registrado previamente. Por tanto, sqlContext y hiveContext están conectados (es la misma sesión).

### Más allá de las transformaciones SQL

Algunas veces vamos a necesitar obtener resultados que precisan operaciones que van más allá de lo que podemos conseguir (cómodamente) utilizando el lenguaje SQL. En esta parte de la práctica vamos a practicar cómo pasar de una tabla a un RDD, para hacer operaciones complejas, y luego volver a pasar a una tabla.

Ahora viene la parte interesante. Una tabla puede convertirse en un RDD a través del atributo ```.rdd```. Este atributo guarda la información de la tabla en una lista donde cada elemento es un [objeto del tipo ```Row```](https://archive.apache.org/dist/spark/docs/2.4.0/api/python/pyspark.sql.html#pyspark.sql.Row). Los objetos pertenecientes a esta clase pueden verse como diccionarios donde la información de las diferentes columnas queda reflejada en forma de atributo. Por ejemplo, imaginad que tenemos una tabla con dos columnas, nombre y apellido, si utilizamos el atributo ```.rdd``` de dicha tabla obtendremos una lista con objetos del tipo row donde cada objeto tiene dos atributos: nombre y apellido. Para acceder a los atributos solo tenéis que utilizar la sintaxis *punto* de Python, e.g., ```row.nombre``` o ```row.apellido```.

### **Ejercicio 6**: Análisis de Tweets Geolocalizados (*1.5 puntos*)

Dada la tabla de tweets `tweets28a_sample25`, debes crear una variable `tweets` con `hiveContext` utilizando el método `table()`. Utilizando una sentencia SQL, se requiere extraer información sobre los tweets que contienen datos geolocalizados (es decir, aquellos donde el campo `place` no es nulo) y determinar cuántos tweets se han generado desde cada lugar. Los resultados deben ser presentados en orden descendente por la cantidad de tweets.

**Esquema sentencia sql**
```Python
tweets_place = hiveContext.sql(<FILL IN>)
```

A continuación, crea una tabla llamada `tweets_place` que contenga dos columnas:

- ***name:*** nombre del lugar desde donde se ha generado el tweet.
- ***tweets:*** número total de tweets realizados en dicho lugar.

Finalmente, muestra los 10 lugares con mayor número de tweets en la tabla resultante.

Adicionalmente, crea una tabla llamada `tweets_geo` que contenga únicamente los tweets que tienen información de geolocalización, y asegúrate de que incluya el nombre del lugar. A partir de esta tabla, crea un objeto ```tweets_place_rdd``` que contenga una lista de tuplas con la información ```(name, tweets)``` sobre el nombre del lugar y el número de tweets generados desde allí.

Una vez generado este RDD vamos a crear una tabla que llamarás también `tweets_place`. El primer paso es generar por cada tupla un objeto Row que contenga un atributo ```name``` y un atributo ```tweets```. Ahora solo tenéis que aplicar el método ```toDF()``` para generar una tabla. Ordenad las filas de esta tabla por el número de tweets en orden descendente.

El ejercicio deberá realizarse combinando tanto sentencias SQL como RDD en Apache Spark.

In [49]:
 # Primer vistazo de la tabla
tweets = hiveContext.table("tweets28a_sample25")
tweets.show(5)

+-------------------+-------------------+----+-----+--------------------+--------------------+--------------------+
|                _id|         created_at|lang|place|    retweeted_status|                text|                user|
+-------------------+-------------------+----+-----+--------------------+--------------------+--------------------+
|1117169839657844736|2019-04-13 22:57:00|  en| null|[1117009066402955...|RT @DearAuntCrabb...|[329, 871, 547969...|
|1117169840802934787|2019-04-13 22:57:00|  es| null|[1117037292458262...|RT @PAH_Burgos: #...|[18, 17, 88521307...|
|1117169840870100994|2019-04-13 22:57:00|  es| null|[1116682791503192...|RT @ViajesFalcon:...|[1270, 356, 76286...|
|1117169840886882304|2019-04-13 22:57:00|  es| null|[1117157909568397...|RT @AiniApgg: Est...|[3887, 3860, 6100...|
|1117169841985683456|2019-04-13 22:57:00|  es| null|[1117083000343232...|RT @Santi_ABASCAL...|[137, 593, 289042...|
+-------------------+-------------------+----+-----+--------------------+--------------------+--------------------+
only showing top 5 rows

In [50]:
# Tweets place
tweets_place = (
    hiveContext
    .sql(
    """
    SELECT 
        place.name as name,
        count(text) as tweets
    FROM tweets28a_sample25
    WHERE place is not null
    GROUP BY 1
    ORDER BY 2 DESC
    """
    )
        )
hiveContext.sql("DROP TABLE IF EXISTS tweets_place")
hiveContext.registerDataFrameAsTable(tweets_place, tableName= 'tweets_place')

tweets_place.show(10)

+-----------+------+
|       name|tweets|
+-----------+------+
|     Madrid|  4911|
|  Barcelona|  3481|
|    Sevilla|   959|
|   Valencia|   689|
|   Zaragoza|   597|
|Villamartín|   570|
|     Málaga|   546|
|     Murcia|   461|
|      Palma|   416|
|   Alicante|   407|
+-----------+------+
only showing top 10 rows

In [51]:
# Crear la tabla `tweets_geo` con tweets que contienen geolocalización
tweets_geo = hiveContext.sql("""
    SELECT *
    FROM tweets28a_sample25
    WHERE place IS NOT NULL
""")


hiveContext.sql("DROP TABLE IF EXISTS tweets_geo")
hiveContext.registerDataFrameAsTable(tweets_geo, tableName= 'tweets_geo')
tweets_geo.show(5)

+-------------------+-------------------+----+--------------------+----------------+--------------------+--------------------+
|                _id|         created_at|lang|               place|retweeted_status|                text|                user|
+-------------------+-------------------+----+--------------------+----------------+--------------------+--------------------+
|1117170058671923200|2019-04-13 22:57:52|  es|[[[[[2.052477, 41...|            null|@nasholop @PSOE N...|[1084, 1200, 8904...|
|1117170246685736960|2019-04-13 22:58:37|  es|[[[[[-4.654915, 4...|            null|@luttor007 @Sexta...|[509, 1014, 18878...|
|1117170260384395264|2019-04-13 22:58:40|  es|[[[[[-1.385233, 3...|            null|@JORDIARCE Aquí s...|[127, 314, 931553...|
|1117170273722294273|2019-04-13 22:58:43|  es|[[[[[-5.014957, 3...|            null|@DTrolera @Irene_...|[3027, 3139, 2982...|
|1117170471101968384|2019-04-13 22:59:30|  es|[[[[[2.052477, 41...|            null|@SoyDeDerechas @S...|[1263, 1582, 8065...|
+-------------------+-------------------+----+--------------------+----------------+--------------------+--------------------+
only showing top 5 rows

In [52]:
# Convertir la tabla `tweets_place` en un RDD
tweets_place_rdd = tweets_place.rdd.map(lambda x: Row(name=x[0], tweets=x[1]))

# Mostrar una muestra del RDD para verificar su contenido
tweets_place_rdd.take(10)

[Row(name='Madrid', tweets=4911),
 Row(name='Barcelona', tweets=3481),
 Row(name='Sevilla', tweets=959),
 Row(name='Valencia', tweets=689),
 Row(name='Zaragoza', tweets=597),
 Row(name='Villamartín', tweets=570),
 Row(name='Málaga', tweets=546),
 Row(name='Murcia', tweets=461),
 Row(name='Palma', tweets=416),
 Row(name='Alicante', tweets=407)]

In [53]:
# Go back to table
tweets_place = tweets_place_rdd.toDF()
hiveContext.sql("DROP TABLE IF EXISTS tweets_place")
hiveContext.registerDataFrameAsTable(tweets_place, tableName= 'tweets_place')

In [54]:
# DO NOT USE THIS CELL

## Sampling

En muchas ocasiones, antes de lanzar costosos procesos, es una práctica habitual tratar con un pequeño conjunto de los datos para investigar algunas propiedades o simplemente para depurar nuestros algoritmos, a esta tarea se la llama sampling. En esta parte de la práctica vamos a ver los dos principales métodos de sampling y cómo utilizarlos.

### Nota:
Para producir un gráfico de barras utilizando [Pandas](https://pandas.pydata.org/) donde se muestre la información que acabáis de generar. Primero transformad la tabla a pandas utilizando el método `toPandas()`. Plotead la tabla resultante utilizando [la funcionalidad gráfica de pandas.](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html)

### Homogéneo

El primer sampling que vamos a ver es [el homogeneo](https://en.wikipedia.org/wiki/Simple_random_sample). Este sampling se basta en simplemente escoger una fracción de la población seleccionando aleatoriamente elementos de esta.

Primero de todo vamos a realizar un sampling homogéneo del 1% de los tweets generados en periodo electoral sin reemplazo. Guardad en una variable ```tweets_sample``` este sampling utilizando el método ```sample``` descrito en la [API de pyspark SQL](https://spark.apache.org/docs/2.4.0/api/python/pyspark.sql.html). El seed que vais a utilizar para inicializar el generador aleatorio es 42.

**Esquema**
```Python
seed = 42
fraction = 0.01

tweets_sample = tweets.<FILL IN>

print("Number of tweets sampled: {0}".format(tweets_sample.count()))
```

### **Ejercicio 7**: Análisis del Patrón de Actividad Horaria en Twitter (*1 puntos*)
A partir de una muestra del 1% de los tweets disponibles, se desea analizar el patrón de uso diario de Twitter, prestando especial atención a la actividad horaria. El objetivo es calcular y visualizar el promedio de tweets generados en cada hora del día. Para ello se debe crear una tabla ```tweets_timestamp``` con la información:
- ***created_at***: timestamp de cuando se publicó el tweet.
- ***hour***: a que hora del dia corresponde.
- ***day***: Fecha en formato MM-dd-YY

La tabla tiene que estar en orden ascendente según la columna `created_at`

**Pista**: Para crear las columnas "hour" y "day" en tu tabla tweets_timestamp, puedes utilizar withColumn(). La función ```hour``` os servirá para extraer la hora del timestamp y la función ```date_format``` os permitirá generar la fecha.

A continuación, utiliza la muestra de tweets para extraer la hora y fecha de publicación, y a partir de esa información, determina cuántos tweets se generan por hora, debes crear una tabla `tweets_hour_day` a partir de esta información.

Por último, solo nos queda hacer una agregación por hora para conseguir el promedio de tweets por hora. Tenéis que generar una tabla ```tweets_hour``` con la información:
- ***hour:*** Hora
- ***tweets:*** Promedio de tweets realizados

Recordad que estamos trabajando con un sample del 1% por tanto tenéis que corregir la columna ```tweets``` para que refleje el promedio que deberíamos esperar en el conjunto completo de tweets. La tabla tiene que estar ordenada en orden ascendente de hora.

In [55]:
# Sample de 1%
seed = 42
fraction = 0.01

tweets_sample = tweets.sample(seed=seed, fraction=fraction, withReplacement=False)

print("Number of tweets sampled: {0}".format(tweets_sample.count()))

Number of tweets sampled: 63888

In [56]:
tweets_sample.show(5)

+-------------------+-------------------+----+-----+--------------------+--------------------+--------------------+
|                _id|         created_at|lang|place|    retweeted_status|                text|                user|
+-------------------+-------------------+----+-----+--------------------+--------------------+--------------------+
|1117169844984610817|2019-04-13 22:57:01|  es| null|                null|@Earco1977 Pues a...|[5893, 4783, 5090...|
|1117169933849247744|2019-04-13 22:57:22|  en| null|[1117165317254467...|RT @AOC: “They’re...|[105, 51, 1815836...|
|1117169944570023938|2019-04-13 22:57:25|  ca| null|[1117142964185309...|RT @ABalagu: El v...|[655, 787, 583056...|
|1117170315405217794|2019-04-13 22:58:53|  es| null|[1117168749583523...|RT @anachacong: @...|[155, 225, 998627...|
|1117170324691456003|2019-04-13 22:58:56|  es| null|[1117069867633520...|RT @Pablo_Iglesia...|[4493, 4488, 2530...|
+-------------------+-------------------+----+-----+--------------------+--------------------+--------------------+
only showing top 5 rows

In [57]:
# Extraer dia y hora del tweet
from pyspark.sql.functions import hour, col, date_format, count, avg, round
tweets_timestamp = (tweets_sample
                    .select("created_at")
                    .withColumn("hour", hour(col("created_at")))
                    .withColumn("day", date_format(col("created_at"), format="MM-dd-YY"))
                    .orderBy("created_at")
                   )

tweets_timestamp.show(5)

+-------------------+----+--------+
|         created_at|hour|     day|
+-------------------+----+--------+
|2019-04-12 03:06:25|   3|04-12-19|
|2019-04-12 05:08:47|   5|04-12-19|
|2019-04-12 09:15:02|   9|04-12-19|
|2019-04-12 09:38:31|   9|04-12-19|
|2019-04-12 10:46:02|  10|04-12-19|
+-------------------+----+--------+
only showing top 5 rows

In [58]:
# Tweets hour day
tweets_hour_day = (
    tweets_timestamp
    .groupBy("day", "hour")
    .agg( (count("created_at")) 
    .alias("tweets"))
    .orderBy("day", "hour")
)

In [59]:
tweets_hour_day.show(5)

+--------+----+------+
|     day|hour|tweets|
+--------+----+------+
|04-12-19|   3|     1|
|04-12-19|   5|     1|
|04-12-19|   9|     2|
|04-12-19|  10|    12|
|04-12-19|  11|    93|
+--------+----+------+
only showing top 5 rows

In [60]:
tweets_hour = tweets_hour_day.groupby("hour").agg( round(avg("tweets") / 0.01, 1).alias("avg_tweets")).orderBy("hour")
tweets_hour.show(24)

+----+----------+
|hour|avg_tweets|
+----+----------+
|   0|   26188.9|
|   1|   13161.1|
|   2|    6227.8|
|   3|    3016.7|
|   4|    2235.3|
|   5|    1866.7|
|   6|    3217.6|
|   7|    6729.4|
|   8|   10952.9|
|   9|   13455.6|
|  10|   14405.6|
|  11|   15133.3|
|  12|   16011.1|
|  13|   16422.2|
|  14|   16877.8|
|  15|   18016.7|
|  16|   17494.4|
|  17|   16461.1|
|  18|   16622.2|
|  19|   17433.3|
|  20|   18838.9|
|  21|   20711.1|
|  22|   30411.1|
|  23|   34327.8|
+----+----------+

In [61]:
# DO NOT USE THIS CELL

### Estratificado

En muchas ocasiones el sampling homogéneo no es adecuado ya que por la propia estructura de los datos determinados segmentos pueden estar sobre-representadas. Este es el caso que observamos en los tweets donde las grandes áreas urbanas están sobrerepresentadas si lo comparamos con el volumen de población. En esta actividad vamos a ver cómo aplicar esta técnica al dataset de tweets, para obtener un sampling que respete la proporción de diputados por provincia.

En España, el proceso electoral asigna un volumen de diputados a cada provincia que depende de la población y de un porcentaje mínimo asignado por ley. En el contexto Hive que hemos creado previamente (```hiveContext```) podemos encontrar una tabla (```province_28a```) que contiene información sobre las circunscripciones electorales. Cargad ésta tabla en una variable con nombre ```province```.  Cargad esta tabla en una variable con nombre ```province```.

In [62]:
# Carga de province
province = hiveContext.table("province_28a")

province.limit(52).show()

+-----------+-----------+------------------+----------+---------+
|    capital|   province|              ccaa|population|diputados|
+-----------+-----------+------------------+----------+---------+
|     Teruel|     Teruel|            Aragón|     35691|        3|
|      Soria|      Soria|   Castilla y León|     39112|        2|
|    Segovia|    Segovia|   Castilla y León|     51683|        3|
|     Huesca|     Huesca|            Aragón|     52463|        3|
|     Cuenca|     Cuenca|Castilla-La Mancha|     54898|        3|
|      Ávila|      Ávila|   Castilla y León|     57697|        3|
|     Zamora|     Zamora|   Castilla y León|     61827|        3|
|Ciudad Real|Ciudad Real|Castilla-La Mancha|     74743|        5|
|   Palencia|   Palencia|   Castilla y León|     78629|        3|
| Pontevedra| Pontevedra|           Galicia|     82802|        7|
|     Toledo|     Toledo|Castilla-La Mancha|     84282|        6|
|Guadalajara|Guadalajara|Castilla-La Mancha|     84910|        3|
|      Ceuta|      Ceuta|             Ceuta|     85144|        1|
|    Melilla|    Melilla|           Melilla|     86384|        1|
|    Cáceres|    Cáceres|       Extremadura|     96098|        4|
|       Lugo|       Lugo|           Galicia|     98025|        4|
|     Girona|     Girona|          Cataluña|    100266|        6|
|     Orense|     Orense|           Galicia|    105505|        4|
|       Jaén|       Jaén|         Andalucía|    113457|        5|
|      Cádiz|      Cádiz|         Andalucía|    116979|        9|
+-----------+-----------+------------------+----------+---------+
only showing top 20 rows

In [63]:
tweets_place.where("name='Teruel'").show()

+------+------+
|  name|tweets|
+------+------+
|Teruel|     8|
+------+------+

In [64]:
assert province.count() == 52, "Incorrect answer"

Para hacer un sampling estratificado lo primero que tenemos que hacer es determinar la fracción que queremos asignar a cada categoría. En este caso queremos una fracción que haga que la ratio tweets diputado sea igual para todas las capitales de provincia. Debemos tener en cuenta que la precisión de la geolocalización en Twitter es normalmente a nivel de ciudad. Por eso, para evitar incrementar la complejidad del ejercicio, vamos a utilizar los tweets en capitales de provincia como proxy de los tweets en toda la provincia.

### **Ejercicio 8**: Análisis de la Relación entre Tweets y Diputados por Provincia (*0.75 puntos*)

Lo primero que tenéis que hacer es crear un tabla ```info_tweets_province``` que debe contener:
- ***capital:*** nombre de la capital de provincia.
- ***tweets:*** número de tweets geolocalizados en cada capital
- ***diputados:*** diputados que asignados a la provincia.
- ***ratio_tweets_diputado:*** número de tweets por diputado.

Debéis ordenar la lista por ```ratio_tweets_diputado``` en orden ascendente.

***Nota:*** Podéis realizar este ejercicio de muchas maneras, probablemente la más fácil es utilizar la tabla ```tweets_place``` que habéis generado en el ejercicio 5. Recordad cómo utilizar el ```join()```

In [65]:
# Tweets province 
tweets_place = hiveContext.table("tweets_place")
info_tweets_province = (tweets_place
                        .select(col("name").alias("capital"), "tweets")
                        .join(province.select("capital", "diputados"), on="capital", how="inner")
                        .withColumn("ratio_tweets_diputado",  col("tweets") /col("diputados")  )
                        .orderBy("ratio_tweets_diputado")
                       )

# VARIABLES DADAS (Las utilizaremos después)
output = info_tweets_province.first()
maximum_ratio = floor(output.ratio_tweets_diputado * 100) / 100
info_tweets_province.show(5)

+----------+------+---------+---------------------+
|   capital|tweets|diputados|ratio_tweets_diputado|
+----------+------+---------+---------------------+
|    Teruel|     8|        3|   2.6666666666666665|
|Pontevedra|    29|        7|    4.142857142857143|
|    Zamora|    23|        3|    7.666666666666667|
|    Huesca|    26|        3|    8.666666666666666|
|   Segovia|    28|        3|    9.333333333333334|
+----------+------+---------+---------------------+
only showing top 5 rows

In [66]:
# DO NOT USE THIS CELL

A continuación, vamos a necesitar es un diccionario con nombre ```ratios``` donde cada capital de provincia es una llave y su valor asociado es la fracción de tweets que vamos a samplear. En este caso lo que queremos es que la ratio de tweets por cada diputado sea similar para cada capital de provincia.

Como queremos que el sampling sea lo más grande posible y no queremos que ninguna capital este infrarepresentada el ratio de tweets por diputado será el valor más pequeño podéis observar en la tabla ```info_tweets_province```, que corresponde a 11.66 tweets por diputado en Teruel. Tenéis este valor guardado en la variable ```maximum_ratio```.

*Nota:* El método ```collectAsMap()``` transforma un PairRDD en un diccionario.

Por último, genera una tabla ```geo_tweets``` con todos los tweets geolocalizados. Ahora ya estamos en disposición de hacer el sampling estratificado por población. Para ello podéis utilizar el método ```sampleBy()```. Utilizad 42 como seed del generador pseudoaleatorio.

In [67]:
# Crear el diccionario 'ratios' con la fracción de tweets que se samplearán para cada capital
ratios = info_tweets_province.rdd \
    .map(lambda row: (row["capital"], maximum_ratio / row["ratio_tweets_diputado"])) \
    .collectAsMap()

geo_tweets = tweets.sampleBy("place.name", fractions=ratios, seed=42)
geo_tweets.count()

881

In [68]:
hiveContext.sql("DROP TABLE IF EXISTS geo_tweets")
hiveContext.registerDataFrameAsTable(geo_tweets, tableName= 'geo_tweets')

In [69]:
# DO NOT USE THIS CELL

## Introducción a los datos relacionales

El hecho de trabajar con una base de datos que contiene información generada en una red social nos permite introducir el concepto de datos relacionales. Podemos definir datos relacionales como aquellos en los que existen relaciones entre las entidades que constituyen la base de datos. Si estas relaciones son binarias, relaciones 1 a 1, podemos representar las relaciones como un grafo compuesto por un conjunto de vértices $\mathcal{V}$ y un conjunto de aristas $\mathcal{E}$ que los relacionan.

En el caso de grafos que emergen de manera orgánica, este tipo de estructura va más allá de los grafos regulares que seguramente conocéis. Este tipo de estructuras se conocen como [redes complejas](https://es.wikipedia.org/wiki/Red_compleja). El estudio de la estructura y dinámicas de este tipo de redes ha contribuido a importantes resultados en campos tan dispares como la física, la sociología, la ecología o la medicina.

![complex_network](https://images.squarespace-cdn.com/content/5150aec6e4b0e340ec52710a/1364574727391-XVOFAB9P6GHKTDAH6QTA/lastfm_800_graph_white.png?content-type=image%2Fpng)

En esta última parte de la práctica vamos a trabajar con este tipo de datos. En concreto vamos a modelar uno de las posibles relaciones presentes en el dataset, la red de retweets.

#### Construcción de la edgelist

Lo primero se os pide es que generéis la red. Hay diversas maneras de representar una red compleja, por ejemplo, si estuvierais interesados en trabajar en ellas desde el punto de vista teórico, la manera más habitual de representarlas es utilizando una [matriz de adyacencia](https://es.wikipedia.org/wiki/Matriz_de_adyacencia). En esta práctica vamos a centrarnos en el aspecto computacional, una de las maneras de más eficientes (computacionalmente hablando) de representar una red es mediante su [*edge list*](https://en.wikipedia.org/wiki/Edge_list), una tabla que especifica la relación a parejas entre las entidades.

Las relaciones pueden ser bidireccionales o direccionales y tener algún peso asignado o no (weighted or unweighted). En el caso que nos ocupa, estamos hablando de una red dirigida, un usuario retuitea a otro, y podemos pensarla teniendo en cuenta cuántas veces esto ha pasado.

#### Centralidad de grado

Uno de los descriptores más comunes en el análisis de redes es el grado. El grado cuantifica cuántas aristas están conectadas a cada vértice~s~. En el caso de redes dirigidas como la que acabamos de crear este descriptor está descompuesto en el:
- **in degree**: cuantas aristas apuntan al nodo
- **out degree**: cuantas aristas salen del nodo

Si haces un ranquing de estos valores vais a obtener una medida de centralidad, la [centralidad de grado](https://en.wikipedia.org/wiki/Centrality#Degree_centrality), de cada uno de los nodos.

### **Ejercicio 9**: Análisis de Interacciones de Retweets y Grados de Usuario (*0.75 puntos*)

A partir de una muestra homogénea del 1% de los tweets, con la semilla 42 para garantizar la reproducibilidad, realiza un análisis de las interacciones de retweets entre usuarios en la red social.

**Esquema**
```Python
seed = 42
sample = tweets.<FILL IN>
```
Crea una tabla ```edgelist``` con la siguiente información:
- ***src:*** usuario que retuitea
- ***dst:*** usuario que es retuiteado
- ***weight:*** número de veces que un usuario retuitea a otro.

Filtrar el resultado para que contenga sólo las relaciones con un weight igual o mayor a dos.

A continuación, genera una tabla `outDegree` con la información:
- ***screen_name:*** nombre del usuario.
- ***outDegree:*** out degree del nodo.

Ordenado la tabla por out degree en orden descendente.

Se os pide ahora que generéis una tabla `inDegree` con la información:
- ***screen_name:*** nombre del usuario.
- ***inDegree:*** in degree del nodo.

Ordenad la tabla por in degree en orden descendente.

In [70]:
# Sample de 1%
seed = 42
fraction = 0.01

sample = tweets.sample(seed=seed, fraction=fraction, withReplacement=False)

print("Number of tweets sampled: {0}".format(sample.count()))

Number of tweets sampled: 63888

In [71]:
edgelist = (sample
            .where("retweeted_status is not null")
            .groupBy(col("user.screen_name").alias("src"), col("retweeted_status.user.screen_name").alias("dst"))
            .agg(
                count("_id").alias("weight")
            )
            .where("weight >= 2")
           )
edgelist.show()

+---------------+--------------+------+
|            src|           dst|weight|
+---------------+--------------+------+
| Olga_Hurtado66|    rcabrero75|     2|
|        moxente|     alonso_dm|     2|
|    gpscongreso|          PSOE|     3|
|       mr_manco|         _ju1_|     2|
|      arantzagg|        iunida|     2|
| Maria_pilar_ga|      ppmadrid|     2|
| soniapillado70|          PSOE|     2|
|       7Josean7|  ahorapodemos|     2|
|   RobertPastor| AlbanoDante76|     2|
|      GomasDani|  fjosealcaraz|     2|
|  desapabullada| Santi_ABASCAL|     2|
|enriquelopez_es|      ivanedlm|     2|
|     Bill21Bill|    Bill21Bill|     2|
|     javalonseo| Albert_Rivera|     2|
|Sociali17641882|          PSOE|     2|
|  eajpnvbizkaia|        eajpnv|     2|
|        Llago14|Rafael21148030|     2|
|       JUKAROLO|      KilianCD|     2|
|   TarantanoVII|    mabellogar|     2|
|    NinesmNines|    maxpradera|     2|
+---------------+--------------+------+
only showing top 20 rows

In [72]:
# OutDegree
outDegree = (edgelist
            .groupBy(col("src").alias("screen_name"))
            .agg(
                count("dst").alias("outDegree")
            )
            .orderBy(desc("outDegree"))
           )
outDegree.show()

+---------------+---------+
|    screen_name|outDegree|
+---------------+---------+
|  antoniobb1953|        3|
|    Manudocalin|        3|
|       cukianaa|        2|
|    Karmaleonic|        2|
|    mariaje1956|        2|
|    RosaMar6254|        2|
|     Nacho_JISF|        2|
|      Juancarfg|        2|
|      ppoleiros|        2|
| Maria_pilar_ga|        2|
|      fatimar56|        2|
|  mariarossa004|        2|
|     mirovira75|        2|
| lanzarotejesus|        2|
|     ArwenPlaza|        2|
| ALFONSOLODEIRO|        2|
|PisandoFuerte10|        2|
|     carrasquem|        2|
|Migueln53227148|        2|
|    mariasvilas|        2|
+---------------+---------+
only showing top 20 rows

In [73]:
# In Degree

inDegree = (edgelist
            .groupBy(col("dst").alias("screen_name"))
            .agg(
                count("src").alias("inDegree")
            )
            .orderBy(desc("inDegree"))
           )
inDegree.show()

+---------------+--------+
|    screen_name|inDegree|
+---------------+--------+
|           PSOE|      45|
|   ahorapodemos|      37|
|   CiudadanosCs|      26|
|         vox_es|      26|
|      populares|      25|
|  Santi_ABASCAL|      18|
|      JuntsXCat|       9|
|Front_Republica|       9|
|  AlbanoDante76|       7|
|sanchezcastejon|       6|
|           KRLS|       6|
|    protestona1|       5|
|    CastigadorY|       5|
|   Esquerra_ERC|       5|
| AntonioMaestre|       4|
|         boye_g|       4|
|     rcabrero75|       4|
|       ivanedlm|       4|
|   pablocasado_|       4|
|       marubimo|       4|
+---------------+--------+
only showing top 20 rows

In [74]:
# DO NOT USE THIS CELL

### **Ejercicio 10**: Distribución del Grado de Salida en una Red de Retweets (*0.75 puntos*)

A partir de una muestra del 1% de los tweets, con una semilla de 42 para asegurar la reproducibilidad, realiza un análisis básico de la red de retweets. Tu objetivo es calcular y mostrar la distribución de grados de los usuarios en la red de retweets.

Para ello, sigue estos pasos:

- Crea una tabla de Edgelist: Define una tabla `edgelist` que contenga las relaciones de retweet entre usuarios, donde cada fila representa un retweet realizado de un usuario a otro.

- Calcula el Grado de Salida (Out-Degree): Determina cuántos retweets ha realizado cada usuario (es decir, el número de usuarios a los que cada usuario ha retweeteado). Llama a esta variable `outDegree`.

- Obtén la Distribución de Grado de Salida: Crea una tabla `outDegree_distribution` que muestre cuántos usuarios tienen un determinado número de retweets realizados. Ordena los resultados por el grado de salida.

In [75]:
# YOUR CODE HERE
outDegree_distribution = (outDegree
                          .groupBy("outDegree")  # Agrupar por el valor del grado de salida
                          .agg(
                              count("screen_name").alias("user_count")  # Contar cuántos usuarios tienen ese grado de salida
                          )
                          .orderBy("outDegree")  # Ordenar por el grado de salida en orden ascendente
                         )
outDegree_distribution.show()

+---------+----------+
|outDegree|user_count|
+---------+----------+
|        1|       459|
|        2|        26|
|        3|         2|
+---------+----------+

In [76]:
# DO NOT USE THIS CELL